.super_button_green,.super_button_blue{background:url(img/buttons_super_bg.jpg) 0 0 repeat-x; color:#fff; height:57px; font-size:24px; text-align:center; cursor:pointer; padding:0 10px 3px 10px; font-weight:bold; text-shadow: 1px -1px 1px #6e6d6d; border:none;}
.super_button_blue{background-position:0 -57px;}
.button_blue{background:url(img/blue-button-bg.jpg) 0 0 repeat-x; text-shadow: 1px -1px 1px #6e6d6d;}
.button_green{background:url(img/green-button-bg.jpg) 0 0 repeat-x; text-shadow: 1px -1px 1px #6e6d6d;}
.button_black{background:url(img/black-button-bg.jpg) 0 0 repeat-x; text-shadow: 1px -1px 1px #6e6d6d;}
.button_blue,.button_green{color:#fff;}
.button_green,.button_blue,.button_black{background-position: 0 -33px;  text-align:center; cursor:pointer; padding:0 6px 3px 6px; border:none;}
.button_green.hover,.button_blue.hover,.button_black.hover{background-position: 0 -66px;}
.button_green:active,.button_blue:active,.button_black:active{background-position: 0 -99px;}
.button_green.disabled,.button_blue.disabled,.button_black.disabled{background-position: 0 0; cursor:default; color:#9f9f9f; text-shadow: 1px 1px 0px #fff;}
.button_black{text-shadow: 1px -1px 1px #000000; color:#cccccc;}
.button_blue.large,.button_green.large,.button_black.large{height:33px; font:bold 14px Arial;}
.button_blue.small,.button_green.small,.button_black.small{height:27px; font:bold 12px Arial;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
                 .button_blue,.button_green,.button_white{padding:0px 10px;}
        }
        @media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0){
                  head~body .button_blue,.button_green,.button_white{padding:0px 10px;}
        }

.button-loading {position:relative;}
.button-loading img{position:absolute; top:-3px; left:3px;}
.button-loading input[type="button"]{padding-left:30px;}

.vipTablebut{background:url(img/vipTablebut.png) 0 0 repeat-x; text-shadow: 0px -1px 0px #821eac; width:104px; height:24px; border:none; padding-bottom:5px; color:#fff;}
.facedata{background:url(img/facebut_data.jpg) 0 0 no-repeat; width:185px; height:27px; border:none; cursor:pointer;}
.rendez_startbut{background:url(img/rendez_startbut.jpg) 0 0 no-repeat; width:249px;}
.rendez_startbut_facebook{background:url(img/rendez_startbut_facebook.jpg) 0 0 no-repeat; width:236px;}
.rendez_startbut_google{background:url(img/rendez_startbut_google.jpg) 0 0 no-repeat; width:236px;}

.rendez_startbut,.rendez_startbut_facebook,.rendez_startbut_google{border:5px solid transparent; height:57px; cursor:pointer;}
.rendez_startbut:hover,.rendez_startbut_facebook:hover,.rendez_startbut_google:hover{border-color:#b2c420;}


/*new buttons*/
a.btn, span.btn {
    display: inline-block;
    height: 35px;
    overflow: hidden;
    padding: 0 6px 0 0;
    text-decoration: none !important;
    vertical-align: middle;
}
.btn .btn-lc {
    display: block;
    padding: 0 0 0 6px;
}
.btn span {
    cursor: pointer;
}
.btn .btn-m {
    display: block;
    height: 35px;
    position: relative;
}
.btn:focus .btn-txt {line-height:12px;}
.btn .btn-txt {
    color: #fff;
    display: block;
    font-size: 14px;
    font-family: Arial;
    font-weight: 900;
    line-height: 14px;
    padding: 10px 5px;
    position: relative;
    text-align: center;
    white-space: nowrap;
}


.btn-pink {background: url(img/buttons-bg.png) 100% -70px no-repeat; text-shadow:0 1px 1px #231e39;}
.btn-pink .btn-lc {background: url(img/buttons-bg.png) 0 0 no-repeat;}
.btn-pink .btn-m {background: url(img/buttons-bg.png) 0 -35px repeat-x;}

.btn-pink:hover {background: url(img/buttons-bg.png) 100% -174px no-repeat;}
.btn-pink:hover .btn-lc {background: url(img/buttons-bg.png) 0 -104px no-repeat;}
.btn-pink:hover .btn-m {background: url(img/buttons-bg.png) 0 -139px repeat-x;}

.btn-pink:focus {background: url(img/buttons-bg.png) 100% -279px no-repeat;}
.btn-pink:focus .btn-lc {background: url(img/buttons-bg.png) 0 -209px no-repeat;}
.btn-pink:focus .btn-m {background: url(img/buttons-bg.png) 0 -244px repeat-x;}