/*rubber custom popup*/
.rubber p{padding-bottom:5px;}
.rubber .yp_top{background:url(img/rubber_box_top_left.png) 0 0 no-repeat; height:16px; margin-right:17px; position:relative;}
.rubber .yp_bot{background:url(img/rubber_box_bottom_left.png) 0 0 no-repeat; height:16px; margin-right:17px; position:relative;}
.rubber .yp_content_left{background:url(img/rubber_box_left.png) 0 0 repeat-y;}
.rubber .yp_content_right{background:url(img/rubber_box_right.png) 100% 0 repeat-y; padding:0 9px 0 10px;}
.rubber .yp_grad{margin:0px; padding:10px 20px; background-color:#fff;}
.rubber .rubber_bot_right,.rubber .rubber_top_right{position:absolute; right:-17px; top:0px; width:17px; height:16px;}
.rubber .rubber_bot_right{background:url(img/rubber_box_bottom_right.png) 0 0 no-repeat;}
.rubber .rubber_top_right{background:url(img/rubber_box_top_right.png) 0 0 no-repeat;}

/*rubber no grad popup*/
.rubber.ng p{padding-bottom:5px;}
.rubber.ng .yp_top{background:url(img/rubber_top_left.png) 0 0 no-repeat; height:8px; margin-right:17px; position:relative;}
.rubber.ng .yp_bot{background:url(img/rubber_bottom_left.png) 0 100% no-repeat; height:9px; margin-right:17px; position:relative;}
.rubber.ng .yp_content_left{background:url(img/rubber_box_left.png) 0 0 repeat-y;}
.rubber.ng .yp_content_right{background:url(img/rubber_box_right.png) 100% 0 repeat-y; padding:0 9px 0 10px;}
.rubber.ng .yp_grad{margin:0px; padding:10px 20px; background:#fff;}
.rubber.ng .inner{padding:20px; background-color:#fff;}
.rubber.ng .rubber_bot_right,.rubber.ng .rubber_top_right{position:absolute; right:-17px; top:0px; width:17px; height:9px;}
.rubber.ng .rubber_bot_right{background:url(img/rubber_bottom_right.png) 0 100% no-repeat;}
.rubber.ng .rubber_top_right{background:url(img/rubber_top_right.png) 0 0 no-repeat;}

.rubber .ya_mbx3_top{background:url(img/yab_helptop.png) 0 0 no-repeat; height:22px;}
.rubber .ya_mbx_bot3{background:url(img/yab_helpbot.png) 0 0 no-repeat; height:18px;}
.rubber .ya_mbx_help {left:-35px; bottom: 22px; display:none; position: absolute; width: 280px; z-index: 1100;}


