
.rendez_block{background:#fff url(img/rendez_bg.jpg) 0 100% repeat-x; }
.rendez_block .inner{padding:30px 0 70px; margin:0 auto; width:950px;}
.rendez_block .rendez_main_img{float:left;}
.rendez_block .rendez_main_content{width:555px; margin-left:20px; float:left;}
.rendez_block .rendez_main_content .or{background:url(img/or2.gif) 50% 50% no-repeat;padding:23px 40px;}
.rendez_block .rendez_main_img img{background:#fff; padding:4px; -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px; -moz-box-shadow:0 1px 3px #818181; -webkit-box-shadow:0 1px 3px #818181;}
.rendez_startbut{background:url(img/rendez_startbut.jpg) 0 0 no-repeat; width:239px; height:47px; border:none; cursor:pointer;}
.rendez_startbut_facebook{background:url(img/rendez_startbut_facebook.jpg) 0 0 no-repeat; width:226px; height:47px; border:none; cursor:pointer;}

.rendez_celendar{}
.rendez_celendar ul li{float:left; width:13%; height:80px; padding:10px 0; text-align:center; margin:0 4px;}
.rendez_celendar ul li a{color:#000;}
.rendez_celendar ul li a:hover{text-decoration:none;}
.rendez_celendar ul li.select{background:url(img/rendez_calendar_bg.png) 0 0 no-repeat;}
.rendez_celendar ul li.select a{color:#ffffff;}
.rendez_celendar ul li.holiday a{color:#cb5959;}

.rendez_menu ul{ width:33%; float:left; font-size:13px; color:#de4e0f;}
.rendez_menu ul li{margin:10px 0; padding:0px 10px 0px 25px; background:url(img/rendez_icos.png) 0 0 no-repeat;}
.rendez_menu ul li.l1{background-position: 0 0;}
.rendez_menu ul li.l2{background-position: 0 -33px;}
.rendez_menu ul li.l3{background-position: 0 -64px;}
.rendez_menu ul li.l4{background-position: 0 -100px;}
.rendez_menu ul li.l5{background-position: 0 -130px;}
.rendez_menu ul li.l6{background-position: 0 -160px;}
.rendez_menu ul li.l7{background-position: 0 -191px;}
.rendez_menu ul li.l8{background-position: 0 -223px;}
.rendez_menu ul li.l9{background-position: 0 -256px;}
.rendez_menu ul li.l10{background-position: 0 -287px;}
.rendez_menu ul li.l11{background-position: 0 -319px;}
.rendez_menu ul li.l12{background-position: 0 -351px;}

.rendezlist .found_usr{padding:10px; width:343px; border:1px solid #fff; height:165px; float:left; position:relative;}
.rendezlist .found_usr p{padding:0 0 5px;}
.rendezlist .found_usr.mutual{border-color:#82d88c; background-color:#f6fcf7;}
.rendezlist .found_usr .mutual_label{position:absolute; right:10px; top:10px; color:#82d88c; text-transform:uppercase;}
.rendezlist .found_usr .brdpic{float:left; position:relative;}
.rendezlist .found_usr .usr_info{float:left; margin-left:10px; padding-right:10px; width:180px; font-size:11px;}
.rendezlist .found_usr .usr_info ul li{clear:left; padding:0; margin:0;}
.rendezlist .found_usr.hover{background-color:#ecf4fb;}
.rendezlist .found_usr .responded{ background:url(img/rendez_icos.png) 0 -384px no-repeat; color:#82d88c; font-weight:bold; padding:2px 0 2px 25px; margin-right:10px;}

.piclist .found_usr.vip_usr{background-color:#fef2ae;}
.action_tools{position:absolute; bottom:18px; left:148px; height:27px;}
.found_usr_orbx{position:absolute; bottom:5px; right:-50px;}
.likeTo{margin-top:10px; padding-top:7px!important; border-top:1px solid #e8e8e8; font-size:11px;}
.likeTo span{color:#747474; margin-right:5px;}