.jigostyle{background-color:#f1f1f1; padding:60px 0;}
.jigostyle .action_div{margin:0 auto; background:url(img/deal_enter_bg.jpg) 0 0 no-repeat; width:560px; height:305px; padding:50px 15px;}
.jigostyle .enter-tb{width:100%; border-collapse:collapse;}
.jigostyle .enter-tb td input[type="text"],.jigostyle .enter-tb td input[type="password"]{font-size: 14px;  padding: 5px 2px 3px;}
.jigostyle .enter-tb td{padding:10px 20px;}