.button_blue, .button_green, .button_white {padding: 0 10px; overflow: visible}
	.gb_left,.gb_right,.bb_left,.bb_right { top:-10px;} 
	.gb_left,.bb_left{left:0px!important;}
	.gb_right,.bb_right{right:0px!important;}
    .blue_but.big .bb_left ,.blue_but.big .bb_right { top:-21px!important;} 
    .blue_but.big .bb_left ,.blue_but.big .bb_right { top:-21px!important;} 
