.guestVip .btn-reg {width:178px; display: block; margin-top: 33px;}
.guestVip .topIcon {width: 220px; float:left;}
.guestVip h1 {font: bold 36px 'PT Sans'; color:#436187;  margin: 0 0 0 0; text-transform: uppercase; line-height: 36px; }
.guestVip p {font: 16px Arial; color:#333333; margin: 10px 0 18px 0; padding: 0; line-height: 20px;}
.guestVip {margin-top: 15px; margin-bottom: 30px;}
/*<!--<<<<<< HEAD
.guestVip img {margin-top: 4px;}
=======
.guestVip img {margin-top: 4px;}

>>>>>>> e1b061988455d668114587e38a39af0b3d46e791*/
