// ******************
// ***  Variables ***
// ******************

@iconImage: '../img/button/btns-icos.png';
@buttonHeight: 31px;
@highlight: inset 0px 1px 1px 0px rgba(255, 255, 255, 40%); // top highlight for buttons

// ******************************
// *** Common style functions ***
// ******************************

.gradient (@col1, @col2){
  background: @col1 - #101010; /* Old browsers */
  background: -moz-linear-gradient(top, @col1 0%, @col2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @col1), color-stop(100%,@col2)) ; /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, @col1 0%,@col2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, @col1 0%,@col2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, @col1 0%,@col2 100%); /* IE10+ */
  background: linear-gradient(to bottom, @col1 0%,@col2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=@col1, endColorstr=@col2,GradientType=0 ); /* IE6-9 */
}

.gradient_off (@col1){
  background: @col1;
  filter: progid:DXImageTransform.Microsoft.gradient( enabled = false ); /* IE6-9 */
}

.button_borders ( @btnTopColor:#3a639a,       @btnBgColor:#496b94,        @btnBottomColor:#334b67,
                  @btnTopColorHover:#5177a5,  @btnBgColorHover:#3a639a,   @btnBottomColorHover:#3f5d81,
                  @btnTopColorActive:#486993, @btnBgColorActive:#2f4f7b,  @btnBottomColorActive:#3f5c81){
  &       {border-color:  @btnTopColor        @btnBgColor       @btnBottomColor        !important;}
  &:hover {border-color:  @btnTopColorHover   @btnBgColorHover  @btnBottomColorHover  !important;}
  &:active{border-color:  @btnTopColorActive  @btnBgColorActive @btnBottomColorActive !important;}
} // end set of colors

.button_bg_color (@color_1: #5279a9, @color_2: #446288){
  .gradient(@color_1, @color_2);
  &:hover {
    .gradient_off(@color_1);
  }
  &:active {
    .gradient(@color_2, @color_1);
  };
}

.height(@height){
  height: @height;
  &.round {
    border-radius: @height/2;
    width: @height;
    padding: 0;
    overflow: hidden;
  }
}
// *****************************
// *** Common buttons styles ***
// *****************************

.button {
  display:    inline-block;
  position:   relative;
  .height(@buttonHeight);
  line-height: @buttonHeight;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  margin-top: 0;
  vertical-align: baseline;
  cursor: pointer;
  // Text settings
  color: #fff !important;
  font: bold 14px Arial !important;
  text-shadow: rgba(0,0,0,0.5) 0 1px 2px;
  text-decoration: none;
  text-align: center;
  &:hover {text-decoration: none; color: #fff !important;}
  // /_text
  padding: 6px 17px 0;
  border: 1px solid !important;
  box-shadow: 0 1px 2px rgba(0,0,0,0.5), @highlight;
  .button_borders();
  .button_bg_color();
  input& {padding-top: 0!important; border-width: 1px !important;} // When INPUT as  button
  &:active {
    box-shadow: @highlight;
  }

  // COLORs of buttons
  &.red {
    .button_bg_color(#d95b42, #c03218);
    .button_borders(#994c3e, #c54229, #912511,
                  #994c3e, #d45a42, #a64734,
                  #862714, #c7452d, #a64633);
  }

  &.green {
    .button_bg_color(#77ad5a, #55833c);
    .button_borders(#548d52, #64954a, #40642d,
                  #548d52, #74a858, #5b8444,
                  #3b6a35, #64954a, #5b8344);
  }

  &.orange {
    .button_bg_color(#da6b44, #c54517);
    .button_borders(#99573e, #ca582e, #963411,
                  #99573e, #d46842, #a65134,
                  #8a3714, #c75127, #a55133);
  }

  &.disabled {
    .gradient_off(#666666);
    .button_borders(#555555, #636363, #4e4e4e,
                  #555555, #636363, #4e4e4e,
                  #555555, #636363, #4e4e4e);
    cursor: default;
    box-shadow: @highlight;
  }

  &.dark-red {
    .button_bg_color(#da4444, #c51717);
    .button_borders(#99373e, #ca2e2e, #961111,
                  #994c3e, #d44242, #a64734,
                  #8a1214, #c92c2c, #a53333);
  }

  &.grey {
    .button_bg_color(#aaaaaa, #9a9a9a);
    .button_borders(#8e8e8e, #9d9d9d, #747474,
                  #8e8e8e, #a5a5a5, #818181,
                  #808080, #9d9d9d, #818181);
  }

  &.lite-grey {
    .button_bg_color(#efefef, #dedede);
    .button_borders(#cbcbcb, #cbcbcb, #cbcbcb,
                  #cbcbcb, #cbcbcb, #cbcbcb,
                  #cbcbcb, #cbcbcb, #cbcbcb);
    color: #525252!important;
    text-shadow: rgba(255,255,255,0.5) 0 1px 2px;
  }

  &.azure {
    .button_bg_color(#49c7fa, #2087b7);
    .button_borders(#33a2e3, #35abdf, #1c749d,
                  #33a2e3, #47c2f3, #3897be,
                  #197bbb, #35a9dd, #3797bd);
  }

  // SIZE of buttons

  &.small {
    .height(24px);
    font-size: 12px!important;
    padding: 3px 13px 0;
  }

  &.middle {
    .height(27px);
    font-size: 14px!important;
    padding: 4px 15px 0;
  }

  &.big {
    .height(41px);
    font-size: 18px!important;
    padding: 8px 21px 0;
    border-radius: 4px;
  }

  &.large {
    .height(47px);
    font-size: 18px!important;
    padding: 11px 23px 0;
    border-radius: 4px;
  }

  &.huge {
    .height(57px);
    font-size: 28px!important;
    padding: 11px 28px 0;
    border-radius: 4px;
  }


}