body {
    color: #010101;
    font-family: arial,sans-serif;
    font-size: 12px;
    text-align: left;
}
.bold {
    font-weight: bold;
}
a {
    color: #4F6B8D;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.fs4 {
    font-size: 24px !important;
}
.fs2 {
    font-size: 14px !important;
}
.left {
    float: left;
}
p {
    margin: 0;
    padding: 0 0 10px;
}


.clear{clear:both;}


#popClose{position:absolute; right:15px; top:15px;}
.yangutu_popap{width:379px; z-index:999;}
.yangutu_popap.big{width:435px; z-index:999;}
.yangutu_popap.banner{width:680px; z-index:999;}
	
	.tblp .tright{padding-right:12px;}
	
	.yp_top{background:url(b-img/yp_top_bg.png) 0 0 no-repeat; height:10px;}
	.yp_content{background:url(b-img/yp_content_bg.png) 0 0 repeat-y;}
	.yp_bot{background:url(b-img/yp_bot_bg.png) 0 0 no-repeat; height:11px;}
	
	.big p{padding-bottom:5px;}
	.big .yp_top{background:url(b-img/yp_big_top_bg.png) 0 0 no-repeat; height:9px;}
	.big .yp_content{background:url(b-img/yp_big_content_bg.png) 0 0 repeat-y;}
	.big .yp_bot{background:url(b-img/yp_big_bot_bg.png) 0 0 no-repeat; height:10px;}
	.big .yp_grad{margin:0 8px; padding:20px;}
	.big .newText{width:373px; height:80px;}
	
	.banner p{padding-bottom:5px;}
	.banner .yp_top{background:url(b-img/yp_banner_top_bg.png) 0 0 no-repeat; height:9px;}
	.banner .yp_content{background:url(b-img/yp_banner_content_bg.png) 0 0 repeat-y;}
	.banner .yp_bot{background:url(b-img/yp_banner_bot_bg.png) 0 0 no-repeat; height:10px;}
	.banner .yp_grad{margin:0 14px 0 13px; padding:10px;}
	.banner .yp_grad p{padding:0 5px 10px;}
	.banner #popClose {position: absolute; right: 20px; top: 15px;
}
	
	.yp_grad{background:url(b-img/yp_grad.jpg) 0 0 repeat-x; padding:20px 0 20px 0; margin:0 8px 0 7px;}

	.brdpic9 img{margin:4px 0 0 0px;}
	.brdpic9 {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		background: url(b-img/126-126pic.png) 1px 0 no-repeat;
		margin-bottom: 3px;
		height: 127px;
		position: relative;
		width: 126px;
		float:left;
	}
