@import "variables";

// Default style for inputs

.input(){
  .boxSizing(border-box);
  .gradientSimple(#f7f7f7, #fff);
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 30px;
  width: 100%;
  padding: 0 15px;
  &::-webkit-input-placeholder {font-style: italic; color: #999;}
  &:-moz-placeholder {font-style: italic; color: #999;}
  box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.1);
  outline: none;
}

input[type=text],
input[type=email],
input[type=password],
input[type=tel],
input[type=date],
input[type=search] {
  .input();
}

.form__input_tail {
  position: relative;
  i.icon.tail {
    position: absolute;
    top: 10px;
    left: -10px;
  }
  input {height: 40px;}
}
.form__search_field {
  position: relative;

  input {padding-right: 25px;}

  &::before {
    content: '';
    display: block;
    width: 13px;
    height: 13px;
    background: 0 -113px url(@iconsPath) no-repeat;
    position: absolute;
    top: 9px;
    right: 11px;
  }
}

// Input with dropdown tips
.form__input_drop {
  position: relative;
  
  .form__input_drop_list {
    display: none;
    padding: 3px 0;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #fff;
    
    li {
      font-weight: bold;
      cursor: pointer;
      padding: 2px 10px;

      &:hover {background: #ddd;}
      
      .addition {
        font-weight: normal;
      }
      .category {
        font-weight: normal;
        font-style: italic;
        color: #999;
        margin-left: 3px;
      }
    }
    .no_result {
      font-weight: normal;
      font-style: italic;
      color: #999;
    }
  }

  &.active {
    input {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .form__input_drop_list {
      display: block;
    }
  }
}

textarea {
  .input();
  height: 120px;
  resize: vertical;
  padding: 7px 10px;
  font-size: @basicFontSize;
  font-family: @basicFontFamily;
  color: @basicFontColor;

  &.error,
  .error & {border: 1px solid #fc3e39;}
}
.form__textarea_counter {
  font-size: 12px;
  color: #999;

  .counter_items {
    color: #565656;

    .counter_current {
      font-weight: bold;
      color: #fc3e39;

      &.ok {color: #27a23b;}
    }
    .counter_limit {}
  }

}

// Form elements
.form__item {
  margin-bottom: 6px;
}
.form__item_label {
  font-size: 12px;
  font-weight: bold;
  color: #787878;
  margin-bottom: 2px;
}

.form__item_content {
  &.double {.clearAfter();}

  .form__item__short {
    float: left;
    width: 105px;
    margin-left: 10px;

    &.first {margin-left: 0;}
  }
}
// Form group of elements
.form__group {

  &.closed {
    .boxSizing(border-box);
    height: 35px;
    overflow: hidden;
    background-color: #eee;

    &:hover {background-color: #f5f5f5;}
  }

  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #f5f5f5;

  .form__group_title {
    cursor: pointer;
    position: relative;
    color: #787878;
    height: 34px;
    line-height: 33px;
    padding-left: 14px;
    .noSelectText();

    i.icon {
      width: 0;
      height: 0;
      border-width: 5px;
      border-style: solid;
      border-color: transparent;
      border-bottom: 0;
      border-top-color: #676767;
      position: absolute;
      top: 14px;
      right: 12px;
    }
  }

  .form__group_list {
    border-top: 1px solid #ccc;
    padding-right: 14px;
    margin-left: 14px;
    padding-bottom: 10px;
    padding-top: 5px;
    .form__group_item {
      cursor: pointer;
      display: block;
      margin-top: 10px;
      .form__group_item_input {float: left;}
      .form__group_item_description {
        margin-left: 27px;
        display: block;
        position: relative;
        top: -4px;
        .count {color: #787878;}
      }

      &.double {
        .clearAfter();

        .short {
          width: 90px;
          float: left;

          &:first-child {margin-right: 10px; }

          .form__item {
            margin-bottom: -4px;
            position: relative;
          }
        }
      }
    }
  }
}

.form__switch {
  color: @linkColor;
  border-bottom: 1px dashed @linkColor;
  cursor: pointer;
  margin-left: 7px;

  &:hover {
    border: none;
  }
}