//Files
@iconsPath: '../img/icons.png';
@iconsActivity: '../img/activity_icons.png';
@iconsInterests: '../img/interests_icons.png';
// Fonts
@basicFontSize: 14px;
@basicLineHeight: 18px;
@basicFontColor: #212121;
@basicFontFamily: Arial;

@mainBlueColor:#436187;
@linkColor: @mainBlueColor;
@headerColorLite: #5078a0;
// Headers
@headerFontFamily: 'PT Sans', Arial;
@headerFontSize_1: 36px;
@headerFontSize_2: 24px;
@headerFontSize_3: 20px;
@headerFontSize_4: 18px;
@headerFontSize_5: 16px;
@headerFontSize_6: 14px;

// Grid
@gridContainerWidth: 960px;
@gridContainerWidth_1200: 1200px;
@gridColumnWidth: 60px;
@gridGutterWidth: 20px;

// Sizes : width heigth; (or: width; if square )
@imgMainAvatar: 220px;


// Header
@headerHeight: 50px;

// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
@zindexHeader:            800;
@zindexDropdown:          1000;
@zindexPopover:           1010;
@zindexTooltip:           1030;
@zindexFixedNavbar:       1030;
@zindexModalBackdrop:     1040;
@zindexModal:             1050;
