
.looking_for {background: url(img/looking_for_a.jpg) 0 0 no-repeat; color: #426087; font-size: 30px; font-weight: bold;  line-height: 23px; padding-bottom: 20px; padding-left: 183px;}
.free_online {background: url(img/free_online_dating.jpg) 0 0 no-repeat;  color: #426087; font-size: 56px; font-weight: bold; line-height: 40px; padding-bottom: 20px; padding-left: 435px;}.ya_left{width:750px; float:left; margin-right:20px;}

.slb_left{width:33%; float:left;}
.slb_left a{margin-right:10px;}
.cloud_teg{text-align:center; line-height:18px;}
.blue{color:#426087;}

.seoless_block{}
.seoless_block img{border:none; display:block;}
.seoless_block_left{ float:left; width:155px; height:444px;}
.seoless_block_form{ float:left; background:url(img/img_web_form_repeat.jpg) 0 0 repeat-y;}
.sbform_top{ background:url(img/img_web_form.jpg) 0 0 no-repeat; width:447px; min-height:444px;}
.sbform_bot{ background:url(img/img_web_form_bot.jpg) 0 0 no-repeat; width:447px; height:17px;}
.seoless_block_form #signupform{padding:35px 50px 35px 20px;}
.seoless_block_right{ float:left; width:144px; height:444px;}