body {
    color: #010101;
    font-family: arial,sans-serif;
    font-size: 12px;
    text-align: left;
}

.green_but{position:relative; left:-3px;}
	.contButGreen,.contButBlue {border: none; padding:0 5px; margin:0; overflow:visible; width:auto; display:inline; font:bold 16px Arial; color:#fff; height: 33px; cursor: pointer;} 
    .gb_left,.bb_left {padding:9px 0px; position:relative; left:3px; top:-2px; display:inline;} 
    .gb_right,.bb_right {padding:9px 0px; position:relative; right:3px; top:-2px; display:inline;} 
	
	.contButGreen{background: url(../img/continue_green.png) repeat-x; text-shadow: 1px -2px 1px #7B8A08;} 
    .gb_left{background: url(../img/continue_green_left.png) no-repeat;} 
    .gb_right{background: url(../img/continue_green_right.png) no-repeat;} 
	
	.contButBlue {background: url(../img/continue_blue.png) repeat-x; text-shadow: 1px -2px 1px #283950;} 
    .bb_left {background: url(../img/continue_blue_left.png) no-repeat;} 
    .bb_right {background: url(../img/continue_blue_right.png) no-repeat;}
	
.blue_but{position:relative; left:-3px;}
	.big .contButBlue {border: none; background: url(../img/continue_blueBig.png) repeat-x; padding:0 5px; margin:0; overflow:visible; width:auto; display:inline; text-shadow: 1px -2px 1px #283950; font:bold 24px Arial; color:#fff; height: 50px; cursor: pointer;} 
    .big .bb_left {background: url(../img/continue_blueBig_left.png) no-repeat; padding:18px 0px; position:relative; left:3px; top:-5px; display:inline;} 
    .big .bb_right {background: url(../img/continue_blueBig_right.png) no-repeat; padding:18px 0px; position:relative; right:3px; top:-5px; display:inline;}

		@media screen and (-webkit-min-device-pixel-ratio:0){
			 .gb_left,.gb_right,.bb_left,.bb_right{top:0px!important;}
			 .big .bb_left,.big .bb_right{top:-3px!important;}
		}
		@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0){
			  head~body .gb_left,.gb_right,.bb_left,.bb_right{top:-1px!important;}
			  head~body .big .bb_left,.big .bb_right{top:-3px!important;}
		}