

/*quest3*/
.usr_answer_block{margin-top:28px;}

.bic_up_name{background:url(../img/bic_up_name_bg.jpg) 0 0 repeat-x; left:0; height:28px; width:100%; text-align:center; position:absolute; top:-27px;}
.bic_up_name_bot{background:url(../img/bic_up_name_bot.png) 0 0 no-repeat; height:4px; width:7px; position:absolute; bottom:-3px; left:49%;}
.bic_up_name a{color:#000; font:14px helvetica; line-height:26px; display:block;}
.brdpic5{position:relative;}
.my_answer_open #popClose { position: absolute; right: 8px; top: 5px; padding:0;}
.my_answer_show #popClose { position: absolute; right: 8px; top: 5px; padding:0;}
/*end quest3*/



p { margin: 0; padding: 0 0 10px;}
.left {float: left;}
.right {float: right;}
.gcenter{margin:0 auto;}
.tcenter{text-align:center;}
.clr2 { clear: both; height: 0; width: 100%;}
a {
    color: #4F6B8D;
    text-decoration: none;
}
a:hover {
    color: #4F6B8D;
    text-decoration: underline;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
form {
    margin: 0;
    padding: 0;
}
img {
    border: medium none;
}
h1 {
    color: #030303;
    font-size: 30px;
    margin: 10px 0 5px;
    padding: 0;
}
body {
    color: #010101;
    font-family: arial,sans-serif;
    font-size: 12px;
    text-align: left;
}

html, body {
    margin: 0;
    padding: 0;
}
.bold {font-weight: bold;}
.fs4 {font-size: 24px !important;}
.fs3 {font-size: 18px !important;}
.w400{width:400px!important;}
.prelative { position: relative;}
.fixWidth270 { width: 270px !important;}
.indentTop15 { margin-top: 15px !important;}
.indentRight10 { margin-right: 10px !important;}
.indentRight20 { margin-right: 20px !important;}
.indentRight8 { margin-right: 8px !important;}
.gray {color: #B2B2B2 !important;}
.innerLeft5 {padding-left: 5px !important;}
.tleft {text-align: left !important;}
.lookingbx {background-color:#ecf4fb; padding: 15px;}
.lookingbx .string {padding: 8px 15px;}
.lookingbx input, .newListSelected {/* font-weight: bold; */}
.lookingbx .titlebar .close {float: none !important;}
.lookingbx .currenstr {background-color:#e5ebe7 !important;}
.lookingbx label {font-weight: bold;}
.lookingbx .chkbx {margin: 0 5px 0 0; padding: 0px; }
.lookingbx .titlebar {font-size: 14px;overflow: hidden; padding-bottom: 4px;}
.findbut { background: url(../img/find.gif) no-repeat scroll 0 0 transparent; border: medium none; cursor: pointer; height: 33px; width: 148px;}

.ages {float: left; width: 58px;}
.and {float: left; margin: 4px 5px 0;}
.ages {float: left; width: 58px;}

.vqbf{position:absolute; width:100%; height:100%; background-color: rgba(82, 82, 82, 0.7); z-index:888;} /*стиль можна менять или вообще убрать*/

.clear{clear:both;}
.vq_window{-moz-border-radius: 8px 8px 8px 8px; border-radius: 8px; -webkit-border-radius: 8px; background-color: rgba(82, 82, 82, 0.7); background-image: none; left: 160px; padding: 10px; position: absolute; text-align: left; top: 35%; width: 500px; z-index: 999;}
.vq_window_tile{border:1px solid #3b5998; background-color:#6d84b4; font:700 14px Arial; color:#fff; padding:5px 10px;}
.vq_window_body{background-color:#fff; border:solid #555555; border-width:0px 1px; }
.vq_window_body p{border-bottom:1px solid #cccccc; padding:25px 10px 40px; font-family: Tahoma; font-size: 1.08em; line-height: 1.38;}
.vq_window_bot{ border:solid #555555; background-color:#f2f2f2; border-width:0px 1px 1px;  padding:5px 10px;}
a.like_but_left{ background:url(../img/fb_ok.jpg) 5px 4px no-repeat; font-size:11px; padding:3px 3px 3px 25px; display:block; float:left; background-color:#eceef5; color:#000; }
a:hover.like_but_left{ text-decoration:none; }
a.like_but_right{ background:url(../img/like_but_right_bg.jpg) 0 0 repeat-x; padding:3px 5px; display:block; float:right; color:#333333; font-size:12px; font-weight:bold; border:1px solid #999999; }
a:hover.like_but_right{ text-decoration:none;}
a.blue_but_right{ background-color:#6D84B4; padding:3px 5px; display:block; float:right; color:#FFF; font-size:12px; font-weight:bold; border:1px solid #3B5998; }
a:hover.blue_but_right{ text-decoration:none;}


.indentTop10{margin-top:10px;}
.indentTop15{margin-top:15px;}
.indentTop20{margin-top:20px;}
.indentTop30{margin-top:30px;}
.indentBot10{margin-bottom:10px;}
.fixWidth240 {
    width: 240px;
}

.txc{text-align:center;}
.fs14{font-size:14px;}
.t_title{ font:bold 18px Arial;}
.m_title{ font:bold 14px Arial; padding-bottom:5px; padding-top:10px;}

.input2 {height: 20px;   padding:1px 2px 2px; font-size:14px; background-color:#fff;  border-top: solid 1px #aaadb2; border-bottom: solid 1px #e2e9ef; border-left: solid 1px #e2e9ef; border-right: solid 1px #e2e9ef;-webkit-border-radius: 2px; -moz-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px;}
.input2:focus,.input:focus ,.text:focus{border-color:#45729a; -moz-box-shadow: 0 0 2px #45729a; -webkit-box-shadow: 0 0 2px #45729a; box-shadow: 0 0 2px #45729a;}

#ny_body,#fb_main {width: 760px;}
#ny_body .content_inn,#fb_main .content_inn { margin: 0 auto; padding-bottom: 30px; padding-top: 10px; position: relative; width: 100%; z-index: 1;}

.header {background:#fff url(../img/ya_block_bg.gif) 0 0 repeat-x;}
.header_inn { margin: 0 auto; position: relative; width:100%; z-index: 5;}
.logo {float: left; margin: 20px;}
.small_slog {margin: 30px 110px 0 0;}
.small_slog_hor {margin: 40px 110px 0 0;}
.cmenu_left .like_it {margin: 10px 0 0 8px;}
.like_it {margin: 30px 0 0 130px;}
.like_it img{ position:relative; top:5px; margin:0 3px 0 5px;}

.pp{background:url(../img/pp_ico.png) 0 0 no-repeat; padding-left:20px;}

.content {background-color: #FFFFFF;}
.bcon_right {float: left; margin-left: 30px; width: 635px;}
.usr-bot {padding: 5px 0; width: 100%;}

.my_answer{padding-bottom:10px;}
.my_answer_open{position:relative; background:#f6f5eb url(../img/wq_popBlock_bg.jpg) 0 0 no-repeat; height:60px; margin-left:17px; margin-right:17px;}
.my_answer_show{position:relative; background:#f6f5eb;  margin-left:17px; margin-right:17px;}
.my_answer_open p{font:normal 14px Arial; display:block; padding:10px 20px 10px 50px; color:#666556;}
.my_answer_show a{font:bold 18px Arial; display:block; padding:10px 20px; color:#666556;}
.my_answer_open a:hover,.my_answer_show a:hover{text-decoration:none;}
.my_answer_open span,.my_answer_show span{font:11px Georgia; color:#666556; display:block;}



a.ch_question{background:url(../img/ch_question.gif) 100% 50% no-repeat; padding-right:20px;}

.ya_gs_form{padding-right:10px; width:300px;}
.ya_gs_form_in{width:180px;}


.answer_buttons .pr1{background:url(../img/wq_yes.jpg) 0 0 no-repeat; width:74px;}
.answer_buttons .pr2{background:url(../img/wq_no.jpg) 0 0 no-repeat; width:74px;}
.answer_buttons .pr3{background:url(../img/wq_maybe.jpg) 0 0 no-repeat; width:121px;}

.savegame{background:url(../img/start_game.gif) 0 0 no-repeat; width:148px; height:33px; border:none; cursor:pointer;}
.usr_ab_button{height:33px; border:none; cursor:pointer; color:#fff; float:left; font:bold 16px Arial; margin-right:5px;}
.answer_buttons{height:33px;}
.wq_myanswer{background:url(../img/wq_maybe.jpg) 0 0 no-repeat; display:none; height:33px; float:left;}
.wq_myanswer .pr4{background:url(../img/wq_maybe.jpg) 100% 0 no-repeat; cursor:pointer; text-align:left; padding:0; height:33px; width:38px; cursor:pointer; border:none; color:#fff; font:bold 16px Arial;}
.wq_myanswer_left{ background-color:#999999; margin-left:3px; display:block; height:33px;  float:left;}

#write_answer{height:19px; margin:0 3px; position: relative; top: -2px; width: 160px;}
		@media screen and (-webkit-min-device-pixel-ratio:0) {
			 #write_answer{top: 0px;}
		}
		@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0){
			   #write_answer{top: 0px;}
		}
.usr_answer_block .brdpic5{float:left;}
.usr_answer_block .brdpic5 img{margin:4px 0 0 0px;}
.usr_answer_link{padding:0 5px;}
.usr_ab_right{padding-left:250px;}
.usr_ab_right .myap { font: bold 16px Arial; padding-left: 0px;}
.usr_ab_right .my_coin  { width:auto; }
.usr_ab_right_tit{font:normal 18px Arial; color:#626363;}
.usr_ab_right_tit span{color:#000;}
.my_answer td{text-align:left;}
.my_answer_check td{padding-top:10px; font-size:12px;  text-align:left;}
.my_answer_check input{margin:0 0 0 5px;}
.my_ac_color{color:#808080;}
/* .my_answer_check input{margin:0 5px 0 0;} */

.myap{padding-left:77px; font:bold 18px Arial;}
.my_coin{width:67px; text-align:right; font-weight:bold; margin-right:10px;}
.my_coin_text{text-align:right;}
.my_coin_text span{color:#808080; font:italic 12px Georgia;}

.usr-bot-view div.ava { margin-right: 10px; position:relative;}
.usr-bot-view div.ava .cntr { top:-7px; left:50px; font:normal 12px Arial;}
.usr-bot-view div.ava a:hover.cntr { text-decoration:none;}
.usr-bot-view p.descr { line-height: 16px;}
.usr-bot-view p { color: #000; padding-bottom: 0;}
.usr-bot-view a { color: #4F6B8D !important; font:italic 12px Georgia;}

.brdpic2,.brdpic5{ display: table-cell; text-align: center; vertical-align: middle;}
.brdpic2 { background: url(../img/66x86bg.png) 0 0 no-repeat; height: 86px; margin-bottom: 3px; position: relative; width: 66px;}
.brdpic5 { background: url(../img/235x306bg.png) 0 0 no-repeat; height: 306px; margin-bottom: 3px; position: relative; width: 235px;}
.cmenu_left{width:90px; float:left;}
.cmenu_left .yab_mess {text-align:center; width:84px; height:60px;}
.cmenu_left .yab_mess a {display:block; height:50px; padding:5px 0;}
.cmenu_left .yab_mess a.selected {background:url(../img/wqm_selected.png) 0 0 no-repeat; color:#fff;}
.paginator {padding-top: 20px;}
.paginator ul {overflow: hidden;}
.paginator ul li {float: left; margin-right: 3px;}
.paginator ul li.prev a {border: 1px solid #D0D3CF;color: #D0D3CF; display: block; padding: 4px 8px;}
.paginator ul li a { border: 1px solid #4F6B8D; display: block; padding: 4px 8px;}
.paginator ul li a:hover { background-color: #4F6B8D; color: #FFFFFF; text-decoration:none;}
.paginator ul li.act a { background-color: #4F6B8D; color: #FFFFFF;}


.yab_mess{margin:0 10px 10px; position: relative;}
.yab_mess span{display:block;}
.yab_mess a:hover{text-decoration:none; color:#47acf3;}
.wqa .yab_mess a.selected span.hme{background-position:50% 100%;}

.wqa{margin-top:10px;}

.cntr span {background: url(../img/hm_right.png) no-repeat scroll right center transparent;color: #FFFFFF;font-size: 12px;padding: 2px 6px 2px 0;}
.cntr { background: url(../img/hm_left.png) no-repeat scroll left center transparent; color: #FFFFFF; left: 60%; padding: 2px 0 2px 7px; position: absolute; text-decoration: none; top: 10px; z-index: 10;
}

	.mess1{background: url(../img/matches_ico.png) 50% 0 no-repeat; height:27px; margin-bottom:3px;}
	.mess2{background: url(../img/ftf_ico.png) 50% 0 no-repeat; height:27px; margin-bottom:3px;}
	.mess3{background: url(../img/message_ico.png) 50% 0 no-repeat; height:27px; margin-bottom:3px;}
	.mess4{background: url(../img/soul_ico.png) 50% 0 no-repeat; height:27px; margin-bottom:3px;}
	.mess5{background: url(../img/notif_ico.png) 50% 0 no-repeat; height:28px; margin-bottom:2px;}
	.mess6{background: url(../img/question_ico.png) 50% 0 no-repeat; height:32px; margin-bottom:2px;}
	.mess7{background: url(../img/yangutu_ico.png) 50% 0 no-repeat; height:27px; margin-bottom:2px;}
	.mess8{background: url(../img/answers_ico.png) 50% 0 no-repeat; height:27px; margin-bottom:2px;}
	
	.wqa .mess1{background: url(../img/wq_matches_ico.png) 50% 0 no-repeat; height:27px; margin-bottom:3px;}
	.wqa .mess2{background: url(../img/wq_ftf_ico.png) 50% 0 no-repeat; height:27px; margin-bottom:3px;}
	.wqa .mess3{background: url(../img/wq_message_ico.png) 50% 0 no-repeat; height:27px; margin-bottom:3px;}
	.wqa .mess4{background: url(../img/soul_ico.png) 50% 0 no-repeat; height:27px; margin-bottom:3px;}
	.wqa .mess5{background: url(../img/notif_ico.png) 50% 0 no-repeat; height:28px; margin-bottom:2px;}
	.wqa .mess6{background: url(../img/wq_question_ico.png) 50% 0 no-repeat; height:32px; margin-bottom:2px;}
	.wqa .mess7{background: url(../img/wq_yangutu_ico.png) 50% 0 no-repeat; height:27px; margin-bottom:2px;}
	.wqa .mess8{background: url(../img/wq_answers_ico.png) 50% 0 no-repeat; height:32px; margin-bottom:2px;}
	
	.ya_main_reg .selectedTxt {font-size:16px;}
	.ya_main_reg .newListSelected {padding:0 3px 2px 5px;}


.left{float:left;}
.right{float:right;}
.ya_counter{margin-left:110px; padding-top: 25px;}
.ya_sign{padding-top: 25px;}
	.ya_main_sign{padding-left:16px; background:url(../img/sign_ico.jpg) 0 0 no-repeat;}
	.ya_sign .left{padding:3px 10px 0 16px;}
	
.ya_count_allready{padding-right:15px; border-right:1px solid #d9dfe7;}
.ya_count_online{padding:0 0 0 15px;}
	.count_sp{color:#7f8080; font-size:14px;}
	
.ya_main_title{background:url(../img/main_title.jpg) 50% 0 no-repeat; height:50px; padding-bottom:30px;}
.ya_fb_main_title{background:url(../img/fb_main_title.jpg) 50% 0 no-repeat; height:50px; padding-bottom:20px;}
.ya_fb_main_title_in{background:url(../img/fb_main_title_in.jpg) 50% 0 no-repeat; height:50px; padding-bottom:20px;}

.ya_fb_sign{padding:40px 20px 0;}

#ny_body .ya_usr_block{width:500px; padding-left:20px;}
#ny_body .ya_one_usr{width:60px; height:60px; border:solid #fff; border-width:1px 2px 1px 0;}
	.usr-hide{display:none;}
	.usr-show{display:block;}

.ya_usr_view{padding:0 10px;}
	.ya_usr_view p{color:#9d9d9f; padding-bottom:0px;}
	.ya_usr_view p.descr{line-height:16px;}
	.ya_usr_view span{color:#000;}
	.ya_usr_view a{color:#4f6b8d!important; font:bold 14px Arial;}
	.ya_usr_view div.ava{margin-right:10px;}
	
.ya_mbx3 {padding-top: 23px; background: url(../img/yab_ugtop.png) 0px top no-repeat; width: 280px; position: absolute; z-index: 1100; top: 45px; left: -22px;}
.ya_mbx3 .ya_mbx_mid3 a {color:#000;}
.ya_mbx3 .ya_mbx_mid3 ul a { display:block; padding: 3px 10px; min-height:55px;}
	.ya_mbx_sb{padding: 3px 10px;}
.ya_mbx3 .noBorder a { display:inline!important; min-height:1px!important;}
.ya_mbx3 .ya_mbx_mid3 a:hover {color:#000;}
.ya_mbx3 .poptitebar { padding: 0 10px;}
.ya_mbx3 .poptitebar a,.ya_mbx3 .noBorder a {color:#4f6b8d;}
.ya_mbx3 .poptitebar a:hover,.ya_mbx3 .noBorder a:hover{color:#4f6b8d; text-decoration:underline;}
.ya_mbx_mid3 {background: url(../img/yab_midl_box.png) repeat-y;}
.ya_mbx_mid3 .inn {padding: 5px 14px 5px 10px;}
.ya_mbx_mid3 .inn .matches {}
.ya_mbx_mid3 .inn .matches li {float: none; border-bottom: solid 1px #dce1e8; overflow: hidden;}
.ya_mbx_mid3 .inn .matches li:hover,.ya_mbx_mid3 .inn .matches li.hover {background-color:#E8F4FF;}
.ya_mbx_mid3 .inn .matches li.noBorder:hover ,.ya_mbx_mid3 .inn .matches li.noBorder.hover {background-color:transparent;}
.ya_mbx_mid3 .inn .matches .ava {padding:0; background: url(../img/46x46bg.png) no-repeat; float:left; width: 56px; height: 56px;}
.ya_mbx_mid3 .inn .matches .ava img {margin: 4px 0 0 4px;}
.ya_mbx_mid3 .inn .matches .descr {margin-left: 60px; margin-top: 7px; margin-right: 0px;}
.ya_mbx_mid3 .inn .matches .descr span {color:#4f6b8d; font-weight:bold; font-size:14px; display:inline;}
.ya_mbx_mid3 .inn .matches .descr a {font-weight: bold; font-size: 14px; display: block;}
.ya_mbx_bot3 {background: url(../img/yab_bot_box.png) bottom no-repeat; height: 18px; font-size:1px; }

.ya_usr_regNow {margin-left:50px; width:375px;}
.ya_usr_regNow p.regTop{font-size:14px; line-height:20px;}
	.ya_main_reg{text-align:right;}
		.sqa{color:#9e9d9d; font:italic 12px Gergia; padding:0px;}
		.sqa span{color:#000;}
		.ya_reg_gender{float:right; width:250px; text-align:left;}
		.reg_male{background:url(../img/blue_man.png) 2px 0 no-repeat; padding-left:18px;}
		.reg_female{background:url(../img/pink_man.png) 0 0 no-repeat; padding-left:18px;}
		
		.select_city{padding-left:12px; margin-left:50px; background:url(../img/two_sq.png) 0 5px no-repeat;}
		
	.ya_main_reg_bot{padding-left:133px;}
	.ya_main_reg label{padding-right:10px; line-height:22px; font-size:14px;}
	.ya_main_reg .pdate{text-align:left; width:auto; float:right;}
	.ya_main_reg .pdate .day,.ya_main_reg .pdate .month{margin-right:8px;}
	
.newListSelected {background: url(../img/customselect.gif) right top #ffffff no-repeat; color:#030303; border: solid 1px #8098ae; padding:3px 3px 3px 5px}
.selectedTxt {padding-right: 20px;}
ul.newList {background-color:#FFFFFF; border:1px solid #8098ae; color:#000000; left:-1px !important; margin:0; overflow-x: hidden; overflow-y: auto; padding:0;position:absolute; top:22px !important; z-index:999; width: 100%; max-height: 150px;}
.newList li {}
.newList li a {display: block; padding: 3px;}
.newList li a:hover {background-color:#4d7195; color:#ffffff; text-decoration: none;}

.ya_usr_block_hor{padding:0 20px; text-align:center;}

.seoless_block_form{width:380px; margin:0px auto; padding:20px 0;}

#fb_main .pdate {float: right; text-align: left; width: auto;}
.ya_main_reg .pdate .day, .ya_main_reg .pdate .month { margin-right: 8px;}
	.pdate .day { float: left; margin-right: 4px; width: 56px;}
	.pdate .year { float: left; width: 60px;}
	.pdate .month { float: left; margin-right: 4px; width: 114px;}
.seoless_block_form p.regTop { font-size: 14px; line-height: 20px; text-align:right;}

.techpage {
    background: url(../img/techpagebg.gif) repeat-x scroll center top #405374;
    color: #FFFFFF;
    font-family: Arial,Helvetica;
    font-size: 14px;
    text-align: center;
}
.techpage .content { background-color: transparent;}
.indentBottom40 { margin-bottom: 40px !important; }
.indentTop40 { margin-top: 40px !important; }
.techpage h1 { color: #FFFFFF;}
.techpage a { color: #62B3F9;}
.fs3 { font-size: 18px !important;}
.tbold { font-weight: bold !important;}

.popava {
    margin-bottom: 20px;
    margin-top: 20px;
    overflow: hidden;
}
.brdpic7 { background: url(../img/36x36bg.png) no-repeat scroll 0 0 transparent; height: 36px; position: relative; width: 36px;
}
.popava .popavatar {
    padding: 3px 0 0 1px;
}
.brdpic, .brdpic2, .brdpic3, .brdpic4, .brdpic5, .brdpic6, .brdpic7, .brdpic8 {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.brdpic img, .brdpic2 img, .brdpic3 img, .brdpic4 img, .brdpic5 img, .brdpic6 img, .brdpic7 img, .brdpic8 img {
    margin: 0;
}
.popava .popavaright {
    font-size: 14px;
    overflow: hidden;
}
.mleft40 {
    margin-left: 40px;
}
.lbfbl {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}
.flWidth97 {
    width: 97%;
}
.tnormal {
    font-weight: normal !important;
}
.pdate2 .day {
    float: left;
    margin-right: 4px;
    width: 64px;
}
.pdate2 .month {
    float: left;
    margin-right: 4px;
    width: 125px;
}
.pdate2 .year {
    float: left;
    width: 70px;
}
.greencontinue {
    background: url(../img/greencontinue.gif) no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    height: 33px;
    width: 148px;
}
.padBut{padding:0 10px!important;}
.green_but{position:relative; left:-3px;}
	.contButGreen {border: none; background: url(../img/continue_green.png) repeat-x; padding:0; margin:0; overflow:visible; width:auto; display:inline; font:bold 16px Arial; text-shadow: 1px -2px 1px #7B8A08; color:#fff; height: 33px; cursor: pointer;} 
    .gb_left {background: url(../img/continue_green_left.png) no-repeat; padding:9px 0px; position:relative; left:3px; top:-2px; display:inline;} 
    .gb_right {background: url(../img/continue_green_right.png) no-repeat; padding:9px 0px; position:relative; right:3px; top:-2px; display:inline;} 
		@media screen and (-webkit-min-device-pixel-ratio:0) {
			 .gb_left,.gb_right{top:0px!important;}
		}
		@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0){
			  head~body .gb_left,.gb_right{top:-1px!important;}
		}
.footer{color:#808080; background:#fff;}
.footer_inn { border-top: 1px solid #E5E5E5; margin: 0 auto; overflow: hidden; padding: 20px 20px 10px; text-align: left; width: 720px;}
.footer ul {float: left; margin-right: 20px;}

.labels label{padding-top:5px;}


.ya_gs_form_in {position:relative; padding-right:20px;}
.ya_gs_form_in .arrow_left {background:url(../img/arrow_left.png) 0 0 no-repeat; width:17px; height:34px; position:absolute; left:-17px; top:40%;}

.vq_content_menu{margin-left:17px; margin-right:17px; background-color:#eceff3; border-bottom:1px solid #426087; border-radius:3px 3px 0 0; -webkit-border-radius:3px 3px 0 0; -moz-border-radius:3px 3px 0 0;}
.vq_content_menu ul li{display:inline-block; height:40px; border-right:1px solid #dbe0e8;}
.vq_content_menu ul li.active{background-color:#426087; border-radius:3px 3px 0 0; -webkit-border-radius:3px 3px 0 0; -moz-border-radius:3px 3px 0 0;}
.vq_content_menu ul li a{display:inline-block; padding:10px 15px; font:bold 16px helvetica;}
.vq_content_menu ul li a:hover{text-decoration:none;}
.vq_content_menu ul li.active a{color:#fff;}

.green_but{position:relative; left:-3px;}
	.contButGreen,.contButBlue {border: none; padding:0 5px; margin:0; overflow:visible; width:auto; display:inline; font:bold 16px Arial; color:#fff; height: 33px; cursor: pointer;} 
    .gb_left,.bb_left {padding:9px 0px; position:relative; left:3px; top:-2px; display:inline;} 
    .gb_right,.bb_right {padding:9px 0px; position:relative; right:3px; top:-2px; display:inline;} 
	
	.contButGreen{background: url(../img/continue_green.png) repeat-x; text-shadow: 1px -2px 1px #7B8A08;} 
    .gb_left{background: url(../img/continue_green_left.png) no-repeat;} 
    .gb_right{background: url(../img/continue_green_right.png) no-repeat;} 
	
	.contButBlue {background: url(../img/continue_blue.png) repeat-x; text-shadow: 1px -2px 1px #283950;} 
    .bb_left {background: url(../img/continue_blue_left.png) no-repeat;} 
    .bb_right {background: url(../img/continue_blue_right.png) no-repeat;}
	
.blue_but{position:relative; left:-3px;}
	.big .contButBlue {border: none; background: url(../img/continue_blueBig.png) repeat-x; padding:0 5px; margin:0; overflow:visible; width:auto; display:inline; text-shadow: 1px -2px 1px #283950; font:bold 24px Arial; color:#fff; height: 50px; cursor: pointer;} 
    .big .bb_left {background: url(../img/continue_blueBig_left.png) no-repeat; padding:18px 0px; position:relative; left:3px; top:-5px; display:inline;} 
    .big .bb_right {background: url(../img/continue_blueBig_right.png) no-repeat; padding:18px 0px; position:relative; right:3px; top:-5px; display:inline;}

		@media screen and (-webkit-min-device-pixel-ratio:0){
			 .gb_left,.gb_right,.bb_left,.bb_right{top:0px!important;}
			 .big .bb_left,.big .bb_right{top:-3px!important;}
		}
		@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0){
			  head~body .gb_left,.gb_right,.bb_left,.bb_right{top:-1px!important;}
			  head~body .big .bb_left,.big .bb_right{top:-3px!important;}
		}
		
	.w138{width:138px;}
	.wqa{margin-left:10px;}
	.ya_fb_main_title_in{margin-top:10px;}
	.usr-bot-view p.descr {margin-left: 78px; margin-right: 15px; padding-bottom: 10px; border-bottom:1px solid #eee;}
	
	.usr_choise{}
	.usr_choise .answer_buttons{padding-left:245px;}
	.usr_choise .brdpic5{margin:15px auto; display:block;}
	.usr_choise .brdpic5 img{margin:4px 0 0 0;}
		.addFav{background:url(../img/fav_star.png) 0 50% no-repeat; padding:1px 0 1px 15px;}
	.usr_choise_photos{width:400px; margin:0 auto;}
	
	.acc_from a{height:32px; float:left; padding:5px 0 5px 45px; font-size:14px;}
		.fromG{background:url(../img/gtic.gif) 0 0 no-repeat;}
		.fromF{background:url(../img/fbic.gif) 0 0 no-repeat;}