/* Widget Interests*/
.wid__interests {padding: 13px 15px 12px; margin-top: 20px;}
    .wid__interests_header {margin-bottom: 12px; text-align: center;}
    .wid__interests_item {font-size: 12px; color: #333; font-weight: bold; display: block; background: #fff; border: 1px solid #ccc; padding: 9px 10px; border-radius: 4px; margin-bottom: 5px; line-height: 23px;}
.wid__interests_icon {display: inline-block; width: 23px; height: 23px; background: url(../../img/widgets/interests_icons.png) no-repeat; margin-right: 10px; vertical-align: middle;}
    .wid__interests_icon.icon_activities {background-position: 0 0;}
    .wid__interests_icon.icon_books {background-position: -25px 0;}
    .wid__interests_icon.icon_brands {background-position: -50px 0;}
    .wid__interests_icon.icon_cars {background-position: -75px 0;}
    .wid__interests_icon.icon_countries {background-position: 0 -25px;}
    .wid__interests_icon.icon_food {background-position: -25px -25px;}
    .wid__interests_icon.icon_movies {background-position: -50px -25px;}
    .wid__interests_icon.icon_music {background-position: -75px -25px;}
    .wid__interests_icon.icon_sports {background-position: 0 -50px;}
    .wid__interests_icon.icon_tv {background-position: -25px -50px;}
    .wid__interests_icon.icon_websites {background-position: -50px -50px;}