.srch__searchBlock_item .field {position: relative!important;}
.wid__tooltip {display: inline-block; width: 170px; box-sizing: border-box; -moz-box-sizing: border-box; border: 5px solid #e8eff5;
    position: relative; padding: 12px 15px 14px; border-radius: 4px; background: #fff; color: #333; font: 12px Arial;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
    position: absolute;
    top: -14px;
    left: 205px;
    z-index:100;
}
.wid__tooltip .arr {
    position: absolute;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-left: none;
    border-right-color: #e8eff5;
    top: 6px;
    left: -15px;
}
.wid__tooltip .arrInn {
    position: absolute;
    width: 0;
    height: 0;
    border: 9px solid transparent;
    border-left: none;
    border-right-color: #fff;
    top: -9px;
    left: 6px;
}