.profile {margin-top: 20px;}
    .profile__collLeft  {display: block; width: 280px; float: left; margin-right: 30px; }
    .profile__collCenter{display: block; width: 390px; float: left;}
    .profile__collRight {display: block; width: 220px; float: right;}
    .profile__block-head {padding-bottom: 20px; border-bottom: 1px solid #ccc; margin-bottom: 20px;}
        .profile__block-head .b-std__header,
        .profile__block-head .slider {margin-bottom: 0;}
        .profile__userName .icon {}
        .profile__block-head .slider-item {width: 33.3333%}


    .profile__block-basicInfo {}

