i.icon {
  display: inline-block;
  background: 0 0 url( @iconsPath ) no-repeat;
  .size(24px);

  &.favorite        {background-position: -25px 0;}
  &.favorite.added  {background-position: -50px 0;}
  &.wink            {background-position: 0 0;}
  &.message {background-position: -75px 0;}
  &.signal {background-position: -25px 0;}
  &.settings {background-position: -25px 0;}
  &.like {background-position: 0 -25px;}
  &.liked {background-position: -25px -25px;}
  &.arrow_left {background-position: -50px -25px;}
  &.arrow_right {background-position: -75px -25px;}
}