@import-once "variables";
@import-once "mixins";

body {
  font: normal @basicFontSize @basicFontFamily;
  line-height: @basicLineHeight;
  color: @basicFontColor;
}

// Headers
h1 {
  .HeaderInit(@headerFontSize_1);
}
h2 {
  .HeaderInit(@headerFontSize_2);
}
h3 {
  .HeaderInit(@headerFontSize_3);
}
h4 {
  .HeaderInit(@headerFontSize_4);
}
h5 {
  .HeaderInit(@headerFontSize_5);
}
h6 {
  .HeaderInit(@headerFontSize_6);
}

// Links
a {
  color: @linkColor;
  text-decoration: none;

  &:hover {text-decoration: underline;}
}