.button {
  display: inline-block;
  position: relative;
  height: 31px;
  line-height: 31px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  margin-top: 0;
  vertical-align: baseline;
  cursor: pointer;
  color: #fff !important;
  font: bold 14px Arial !important;
  text-shadow: rgba(0, 0, 0, 0.5) 0 1px 2px;
  text-decoration: none;
  text-align: center;
  padding: 6px 17px 0;
  border: 1px solid !important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), inset 0px 1px 1px 0px rgba(255, 255, 255, 0.4);
  background: #426999;
  background: -ms-linear-gradient(top, #5279a9 0%, #446288 100%);
  background: linear-gradient(to bottom, #5279a9 0%, #446288 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#5279a9, endColorstr=#446288, GradientType=0);
}
.button.round {
  border-radius: 15.5px;
  width: 31px;
  padding: 0;
  overflow: hidden;
}
.button:hover {
  text-decoration: none;
  color: #fff !important;
}
.button {
  border-color: #3a639a #496b94 #334b67 !important;
}
.button:hover {
  border-color: #5177a5 #3a639a #3f5d81 !important;
}
.button:active {
  border-color: #486993 #2f4f7b #3f5c81 !important;
}
.button:hover {
  background: #5279a9;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.button:active {
  background: #345278;
  background: -ms-linear-gradient(top, #446288 0%, #5279a9 100%);
  background: linear-gradient(to bottom, #446288 0%, #5279a9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#446288, endColorstr=#5279a9, GradientType=0);
}
input.button {
  padding-top: 0!important;
  border-width: 1px !important;
}
.button:active {
  box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.4);
}
.button.red {
  background: #c94b32;
  background: -ms-linear-gradient(top, #d95b42 0%, #c03218 100%);
  background: linear-gradient(to bottom, #d95b42 0%, #c03218 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#d95b42, endColorstr=#c03218, GradientType=0);
}
.button.red:hover {
  background: #d95b42;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.button.red:active {
  background: #b02208;
  background: -ms-linear-gradient(top, #c03218 0%, #d95b42 100%);
  background: linear-gradient(to bottom, #c03218 0%, #d95b42 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#c03218, endColorstr=#d95b42, GradientType=0);
}
.button.red {
  border-color: #994c3e #c54229 #912511 !important;
}
.button.red:hover {
  border-color: #994c3e #d45a42 #a64734 !important;
}
.button.red:active {
  border-color: #862714 #c7452d #a64633 !important;
}
.button.green {
  background: #679d4a;
  background: -ms-linear-gradient(top, #77ad5a 0%, #55833c 100%);
  background: linear-gradient(to bottom, #77ad5a 0%, #55833c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#77ad5a, endColorstr=#55833c, GradientType=0);
}
.button.green:hover {
  background: #77ad5a;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.button.green:active {
  background: #45732c;
  background: -ms-linear-gradient(top, #55833c 0%, #77ad5a 100%);
  background: linear-gradient(to bottom, #55833c 0%, #77ad5a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#55833c, endColorstr=#77ad5a, GradientType=0);
}
.button.green {
  border-color: #548d52 #64954a #40642d !important;
}
.button.green:hover {
  border-color: #548d52 #74a858 #5b8444 !important;
}
.button.green:active {
  border-color: #3b6a35 #64954a #5b8344 !important;
}
.button.green.flat {
  background: #3a9508;
  border-color: #2a7700 !important;
  box-shadow: none;
}
.button.green.flat:hover {
  background: #77ad5a;
  border-color: #5b8444 !important;
}
.button.green.flat:active {
  background: #2a7700;
  border-color: #2a7700 !important;
}
.button.orange {
  background: #ca5b34;
  background: -ms-linear-gradient(top, #da6b44 0%, #c54517 100%);
  background: linear-gradient(to bottom, #da6b44 0%, #c54517 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#da6b44, endColorstr=#c54517, GradientType=0);
}
.button.orange:hover {
  background: #da6b44;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.button.orange:active {
  background: #b53507;
  background: -ms-linear-gradient(top, #c54517 0%, #da6b44 100%);
  background: linear-gradient(to bottom, #c54517 0%, #da6b44 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#c54517, endColorstr=#da6b44, GradientType=0);
}
.button.orange {
  border-color: #99573e #ca582e #963411 !important;
}
.button.orange:hover {
  border-color: #99573e #d46842 #a65134 !important;
}
.button.orange:active {
  border-color: #8a3714 #c75127 #a55133 !important;
}
.button.disabled,
.button[disabled],
.button[disabled="disabled"] {
  background: #666666;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  cursor: default;
  color: #fff!important;
  box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.4);
}
.button.disabled,
.button[disabled],
.button[disabled="disabled"] {
  border-color: #555555 #636363 #4e4e4e !important;
}
.button.disabled:hover,
.button[disabled]:hover,
.button[disabled="disabled"]:hover {
  border-color: #555555 #636363 #4e4e4e !important;
}
.button.disabled:active,
.button[disabled]:active,
.button[disabled="disabled"]:active {
  border-color: #555555 #636363 #4e4e4e !important;
}
.button.dark-red {
  background: #ca3434;
  background: -ms-linear-gradient(top, #da4444 0%, #c51717 100%);
  background: linear-gradient(to bottom, #da4444 0%, #c51717 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#da4444, endColorstr=#c51717, GradientType=0);
}
.button.dark-red:hover {
  background: #da4444;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.button.dark-red:active {
  background: #b50707;
  background: -ms-linear-gradient(top, #c51717 0%, #da4444 100%);
  background: linear-gradient(to bottom, #c51717 0%, #da4444 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#c51717, endColorstr=#da4444, GradientType=0);
}
.button.dark-red {
  border-color: #99373e #ca2e2e #961111 !important;
}
.button.dark-red:hover {
  border-color: #994c3e #d44242 #a64734 !important;
}
.button.dark-red:active {
  border-color: #8a1214 #c92c2c #a53333 !important;
}
.button.dark-red.flat {
  background: #c51818;
  border-color: #8a1316 !important;
  box-shadow: none;
}
.button.dark-red.flat:hover {
  background: #da4444;
  border-color: #a63434 !important;
}
.button.dark-red.flat:active {
  background: #8a1316;
  border-color: #8a1316 !important;
}
.button.grey {
  background: #9a9a9a;
  background: -ms-linear-gradient(top, #aaaaaa 0%, #9a9a9a 100%);
  background: linear-gradient(to bottom, #aaaaaa 0%, #9a9a9a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#aaaaaa, endColorstr=#9a9a9a, GradientType=0);
}
.button.grey:hover {
  background: #aaaaaa;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.button.grey:active {
  background: #8a8a8a;
  background: -ms-linear-gradient(top, #9a9a9a 0%, #aaaaaa 100%);
  background: linear-gradient(to bottom, #9a9a9a 0%, #aaaaaa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#9a9a9a, endColorstr=#aaaaaa, GradientType=0);
}
.button.grey {
  border-color: #8e8e8e #9d9d9d #747474 !important;
}
.button.grey:hover {
  border-color: #8e8e8e #a5a5a5 #818181 !important;
}
.button.grey:active {
  border-color: #808080 #9d9d9d #818181 !important;
}
.button.lite-grey {
  background: #dfdfdf;
  background: -ms-linear-gradient(top, #efefef 0%, #dedede 100%);
  background: linear-gradient(to bottom, #efefef 0%, #dedede 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#dedede, GradientType=0);
  color: #525252!important;
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 2px;
}
.button.lite-grey:hover {
  background: #efefef;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.button.lite-grey:active {
  background: #cecece;
  background: -ms-linear-gradient(top, #dedede 0%, #efefef 100%);
  background: linear-gradient(to bottom, #dedede 0%, #efefef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#dedede, endColorstr=#efefef, GradientType=0);
}
.button.lite-grey {
  border-color: #cbcbcb #cbcbcb #cbcbcb !important;
}
.button.lite-grey:hover {
  border-color: #cbcbcb #cbcbcb #cbcbcb !important;
}
.button.lite-grey:active {
  border-color: #cbcbcb #cbcbcb #cbcbcb !important;
}
.button.azure {
  background: #39b7ea;
  background: -ms-linear-gradient(top, #49c7fa 0%, #2087b7 100%);
  background: linear-gradient(to bottom, #49c7fa 0%, #2087b7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#49c7fa, endColorstr=#2087b7, GradientType=0);
}
.button.azure:hover {
  background: #49c7fa;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.button.azure:active {
  background: #1077a7;
  background: -ms-linear-gradient(top, #2087b7 0%, #49c7fa 100%);
  background: linear-gradient(to bottom, #2087b7 0%, #49c7fa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#2087b7, endColorstr=#49c7fa, GradientType=0);
}
.button.azure {
  border-color: #33a2e3 #35abdf #1c749d !important;
}
.button.azure:hover {
  border-color: #33a2e3 #47c2f3 #3897be !important;
}
.button.azure:active {
  border-color: #197bbb #35a9dd #3797bd !important;
}
.button.lite_blue {
  background: #678ab4;
  background: -ms-linear-gradient(top, #779ac4 0%, #627ea1 100%);
  background: linear-gradient(to bottom, #779ac4 0%, #627ea1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#779ac4, endColorstr=#627ea1, GradientType=0);
}
.button.lite_blue:hover {
  background: #779ac4;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.button.lite_blue:active {
  background: #526e91;
  background: -ms-linear-gradient(top, #627ea1 0%, #779ac4 100%);
  background: linear-gradient(to bottom, #627ea1 0%, #779ac4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#627ea1, endColorstr=#779ac4, GradientType=0);
}
.button.lite_blue {
  border-color: #547db3 #6a88ae #4b5f7a !important;
}
.button.lite_blue:hover {
  border-color: #547db3 #7596c0 #5b7596 !important;
}
.button.lite_blue:active {
  border-color: #446691 #6a88ae #5b7595 !important;
}
.button.small {
  height: 24px;
  font-size: 12px!important;
  padding: 3px 13px 0;
}
.button.small.round {
  border-radius: 12px;
  width: 24px;
  padding: 0;
  overflow: hidden;
}
.button.middle {
  height: 27px;
  font-size: 14px!important;
  padding: 4px 15px 0;
}
.button.middle.round {
  border-radius: 13.5px;
  width: 27px;
  padding: 0;
  overflow: hidden;
}
.button.big {
  height: 41px;
  font-size: 18px!important;
  padding: 8px 21px 0;
  border-radius: 4px;
}
.button.big.round {
  border-radius: 20.5px;
  width: 41px;
  padding: 0;
  overflow: hidden;
}
.button.large {
  height: 47px;
  font-size: 18px!important;
  padding: 11px 23px 0;
  border-radius: 4px;
}
.button.large.round {
  border-radius: 23.5px;
  width: 47px;
  padding: 0;
  overflow: hidden;
}
.button.huge {
  height: 57px;
  font-size: 28px!important;
  padding: 11px 28px 0;
  border-radius: 4px;
}
.button.huge.round {
  border-radius: 28.5px;
  width: 57px;
  padding: 0;
  overflow: hidden;
}
.button.facebook {
  padding-left: 33px;
  padding-right: 8px;
}
.button.facebook i.icon {
  display: inline-block;
  background: 0 -135px url('../img/button/btns-icos.png') no-repeat;
  width: 25px;
  height: 29px;
  position: absolute;
  top: 0;
  left: 0;
}
.button.facebook.large {
  padding-left: 53px;
  padding-right: 9px;
}
.button.facebook.large i.icon {
  background-position: 0 -45px;
  width: 45px;
  height: 45px;
}
.button.facebook.middle i.icon {
  background-position: 0 -137px;
  height: 25px;
}
.button.facebook.big {
  padding-left: 45px;
  padding-right: 9px;
}
.button.facebook.big i.icon {
  background-position: 0 -135px;
  height: 39px;
  width: 41px;
}
.button.facebook.big {
  padding-left: 39px;
}
.button.facebook.big i.icon {
  background-position: -8px -48px;
  width: 29px;
  border-right: 1px solid #334a67;
}
.button.message {
  padding-left: 33px;
  padding-right: 8px;
}
.button.message i.icon {
  display: inline-block;
  background: 0 -260px url('../img/button/btns-icos.png') no-repeat;
  width: 25px;
  height: 29px;
  position: absolute;
  top: 0;
  left: 0;
}
.button.message.large {
  padding-left: 53px;
  padding-right: 9px;
}
.button.message.large i.icon {
  background-position: 0 -45px;
  width: 45px;
  height: 45px;
}
.button.message.middle i.icon {
  background-position: 0 -262px;
  height: 25px;
}
.button.message.big {
  padding-left: 45px;
  padding-right: 9px;
}
.button.message.big i.icon {
  background-position: 0 -260px;
  height: 39px;
  width: 41px;
}
.button.wink {
  padding-left: 33px;
  padding-right: 8px;
}
.button.wink i.icon {
  display: inline-block;
  background: 0 -299px url('../img/button/btns-icos.png') no-repeat;
  width: 25px;
  height: 29px;
  position: absolute;
  top: 0;
  left: 0;
}
.button.wink.large {
  padding-left: 53px;
  padding-right: 9px;
}
.button.wink.large i.icon {
  background-position: 0 -45px;
  width: 45px;
  height: 45px;
}
.button.wink.middle i.icon {
  background-position: 0 -301px;
  height: 25px;
}
.button.wink.big {
  padding-left: 45px;
  padding-right: 9px;
}
.button.wink.big i.icon {
  background-position: 0 -299px;
  height: 39px;
  width: 41px;
}
.button.gift {
  padding-left: 33px;
  padding-right: 8px;
}
.button.gift i.icon {
  display: inline-block;
  background: 0 -338px url('../img/button/btns-icos.png') no-repeat;
  width: 25px;
  height: 29px;
  position: absolute;
  top: 0;
  left: 0;
}
.button.gift.large {
  padding-left: 53px;
  padding-right: 9px;
}
.button.gift.large i.icon {
  background-position: 0 -45px;
  width: 45px;
  height: 45px;
}
.button.gift.middle i.icon {
  background-position: 0 -340px;
  height: 25px;
}
.button.gift.big {
  padding-left: 45px;
  padding-right: 9px;
}
.button.gift.big i.icon {
  background-position: 0 -338px;
  height: 39px;
  width: 41px;
}
.button.ask {
  padding-left: 33px;
  padding-right: 8px;
}
.button.ask i.icon {
  display: inline-block;
  background: 0 -512px url('../img/button/btns-icos.png') no-repeat;
  width: 25px;
  height: 29px;
  position: absolute;
  top: 0;
  left: 0;
}
.button.ask.large {
  padding-left: 53px;
  padding-right: 9px;
}
.button.ask.large i.icon {
  background-position: 0 -45px;
  width: 45px;
  height: 45px;
}
.button.ask.middle i.icon {
  background-position: 0 -514px;
  height: 25px;
}
.button.ask.big {
  padding-left: 45px;
  padding-right: 9px;
}
.button.ask.big i.icon {
  background-position: 0 -512px;
  height: 39px;
  width: 41px;
}
.button.twitter {
  padding-left: 33px;
  padding-right: 8px;
}
.button.twitter i.icon {
  display: inline-block;
  background: 0 -164px url('../img/button/btns-icos.png') no-repeat;
  width: 25px;
  height: 29px;
  position: absolute;
  top: 0;
  left: 0;
}
.button.twitter.large {
  padding-left: 53px;
  padding-right: 9px;
}
.button.twitter.large i.icon {
  background-position: 0 -45px;
  width: 45px;
  height: 45px;
}
.button.twitter.middle i.icon {
  background-position: 0 -166px;
  height: 25px;
}
.button.twitter.big {
  padding-left: 45px;
  padding-right: 9px;
}
.button.twitter.big i.icon {
  background-position: 0 -164px;
  height: 39px;
  width: 41px;
}
.button.favorite {
  padding-left: 33px;
  padding-right: 8px;
  padding-left: 8px;
}
.button.favorite i.icon {
  display: inline-block;
  background: 0 -195px url('../img/button/btns-icos.png') no-repeat;
  width: 25px;
  height: 29px;
  position: absolute;
  top: 0;
  left: 0;
}
.button.favorite.large {
  padding-left: 53px;
  padding-right: 9px;
}
.button.favorite.large i.icon {
  background-position: 0 -45px;
  width: 45px;
  height: 45px;
}
.button.favorite.middle i.icon {
  background-position: 0 -197px;
  height: 25px;
}
.button.favorite.big {
  padding-left: 45px;
  padding-right: 9px;
}
.button.favorite.big i.icon {
  background-position: 0 -195px;
  height: 39px;
  width: 41px;
}
.button.favorite i.icon {
  width: 0;
}
.button.favorite.added {
  padding-left: 33px;
  padding-right: 8px;
  padding-left: 38px;
  font-weight: normal!important;
}
.button.favorite.added i.icon {
  display: inline-block;
  background: 0 -224px url('../img/button/btns-icos.png') no-repeat;
  width: 25px;
  height: 29px;
  position: absolute;
  top: 0;
  left: 0;
}
.button.favorite.added.large {
  padding-left: 53px;
  padding-right: 9px;
}
.button.favorite.added.large i.icon {
  background-position: 0 -45px;
  width: 45px;
  height: 45px;
}
.button.favorite.added.middle i.icon {
  background-position: 0 -226px;
  height: 25px;
}
.button.favorite.added.big {
  padding-left: 45px;
  padding-right: 9px;
}
.button.favorite.added.big i.icon {
  background-position: 0 -224px;
  height: 39px;
  width: 41px;
}
.button.favorite.added i.icon {
  width: 31px;
}
.button.like {
  padding-left: 33px;
  padding-right: 8px;
  padding-left: 38px;
}
.button.like i.icon {
  display: inline-block;
  background: 0 -409px url('../img/button/btns-icos.png') no-repeat;
  width: 25px;
  height: 29px;
  position: absolute;
  top: 0;
  left: 0;
}
.button.like.large {
  padding-left: 53px;
  padding-right: 9px;
}
.button.like.large i.icon {
  background-position: 0 -45px;
  width: 45px;
  height: 45px;
}
.button.like.middle i.icon {
  background-position: 0 -411px;
  height: 25px;
}
.button.like.big {
  padding-left: 45px;
  padding-right: 9px;
}
.button.like.big i.icon {
  background-position: 0 -409px;
  height: 39px;
  width: 41px;
}
.button.like i.icon {
  width: 31px;
}
.button.like.liked {
  padding-left: 33px;
  padding-right: 8px;
  cursor: pointer;
  padding-left: 38px;
}
.button.like.liked i.icon {
  display: inline-block;
  background: 0 -437px url('../img/button/btns-icos.png') no-repeat;
  width: 25px;
  height: 29px;
  position: absolute;
  top: 0;
  left: 0;
}
.button.like.liked.large {
  padding-left: 53px;
  padding-right: 9px;
}
.button.like.liked.large i.icon {
  background-position: 0 -45px;
  width: 45px;
  height: 45px;
}
.button.like.liked.middle i.icon {
  background-position: 0 -439px;
  height: 25px;
}
.button.like.liked.big {
  padding-left: 45px;
  padding-right: 9px;
}
.button.like.liked.big i.icon {
  background-position: 0 -437px;
  height: 39px;
  width: 41px;
}
.button.like.liked i.icon {
  width: 31px;
}
.button.google {
  padding-left: 33px;
  padding-right: 8px;
}
.button.google i.icon {
  display: inline-block;
  background: 0 -135px url('../img/button/btns-icos.png') no-repeat;
  width: 25px;
  height: 29px;
  position: absolute;
  top: 0;
  left: 0;
}
.button.google.large {
  padding-left: 53px;
  padding-right: 9px;
}
.button.google.large i.icon {
  background-position: 0 -45px;
  width: 45px;
  height: 45px;
}
.button.google.middle i.icon {
  background-position: 0 -137px;
  height: 25px;
}
.button.google.big {
  padding-left: 45px;
  padding-right: 9px;
}
.button.google.big i.icon {
  background-position: 0 -135px;
  height: 39px;
  width: 41px;
}
.button.google.large i.icon {
  background-position: 0 0;
  left: -1px;
}
.button.yangutu {
  padding-left: 33px;
  padding-right: 8px;
}
.button.yangutu i.icon {
  display: inline-block;
  background: 0 -135px url('../img/button/btns-icos.png') no-repeat;
  width: 25px;
  height: 29px;
  position: absolute;
  top: 0;
  left: 0;
}
.button.yangutu.large {
  padding-left: 53px;
  padding-right: 9px;
}
.button.yangutu.large i.icon {
  background-position: 0 -45px;
  width: 45px;
  height: 45px;
}
.button.yangutu.middle i.icon {
  background-position: 0 -137px;
  height: 25px;
}
.button.yangutu.big {
  padding-left: 45px;
  padding-right: 9px;
}
.button.yangutu.big i.icon {
  background-position: 0 -135px;
  height: 39px;
  width: 41px;
}
.button.yangutu.large i.icon {
  background-position: 0 -90px;
}
/** ICONS **/
i.icon {
  background: url('../img/button/btns-icos.png') no-repeat;
  display: inline-block;
  font-size: 0;
}
.slider i.icon {
  position: relative;
  margin-bottom: -3px;
  margin-right: 9px;
}
.slider i.icon.icon-facebook {
  background-position: -74px 0;
  width: 14px;
  height: 15px;
}
.slider .current i.icon.icon-facebook,
.slider-item:active i.icon.icon-facebook {
  background-position: -90px 0;
}
.slider i.icon.icon-email {
  background-position: -74px -17px;
  width: 14px;
  height: 15px;
}
.slider .current i.icon.icon-email,
.slider-item:active i.icon.icon-email {
  background-position: -90px -17px;
}
.slider i.icon.icon-google {
  background-position: -74px -34px;
  width: 14px;
  height: 15px;
}
.slider .current i.icon.icon-google,
.slider-item:active i.icon.icon-google {
  background-position: -90px -34px;
}
.slider i.icon.icon-twitter {
  background-position: -72px -51px;
  width: 14px;
  height: 15px;
}
.slider .current i.icon.icon-twitter,
.slider-item:active i.icon.icon-twitter {
  background-position: -89px -51px;
}
.slider i.icon.icon-yahoo {
  background-position: -68px -66px;
  width: 14px;
  height: 15px;
}
.slider .current i.icon.icon-yahoo,
.slider-item:active i.icon.icon-yahoo {
  background-position: -87px -66px;
}
i.icon.icon-eye {
  background-position: 0 -380px;
  width: 16px;
  height: 8px;
}
i.icon.icon-online {
  background-position: 0 -390px;
  width: 16px;
  height: 16px;
}
i.icon.icon-online.offline {
  background-position: -20px -390px;
}
i.icon.icon-attention {
  background-position: -41px -391px;
  width: 16px;
  height: 14px;
}
i.icon.icon-arrow-left {
  height: 0;
  border-right: 5px solid #666666;
  border-top: 4px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: none;
  margin-left: -2px;
  margin-top: 7px;
}
i.icon.icon-arrow-right {
  height: 0;
  border-left: 5px solid #666666;
  border-top: 4px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: none;
  margin-left: 1px;
  margin-top: 7px;
}
i.icon.icon-edit {
  background-position: 0 -473px;
  width: 12px;
  height: 12px;
}
i.icon.icon-message {
  background-position: -15px -473px;
  width: 16px;
  height: 16px;
}
i.icon.icon-message-small {
  background-position: -15px -492px;
  width: 10px;
  height: 10px;
}
i.icon.icon-like {
  background-position: -34px -473px;
  width: 16px;
  height: 16px;
}
i.icon.icon-dislike {
  background-position: -52px -473px;
  width: 16px;
  height: 16px;
}
i.icon.icon-share {
  background-position: -34px -492px;
  width: 16px;
  height: 16px;
}
i.icon.icon-shared {
  background-position: -52px -492px;
  width: 16px;
  height: 16px;
}
i.icon.icon-close-grey {
  background-position: -19px -379px;
  width: 9px;
  height: 9px;
}
i.icon.icon-rotate-left {
  background-position: -70px -491px;
  width: 16px;
  height: 17px;
}
i.icon.icon-rotate-right {
  background-position: -88px -491px;
  width: 16px;
  height: 17px;
}
i.icon.icon-crop {
  background-position: -70px -472px;
  width: 16px;
  height: 17px;
}
i.icon.icon-basket {
  background-position: -88px -472px;
  width: 16px;
  height: 17px;
}
i.icon.icon-check {
  background-position: -70px -453px;
  width: 16px;
  height: 17px;
}
i.icon.icon-check.lite {
  background-position: -88px -453px;
}
i.icon.icon-round-checked {
  width: 24px;
  height: 24px;
  background-position: -44px -446px;
}
i.icon.icon-round-check {
  width: 24px;
  height: 24px;
  background-position: -44px -420px;
}
i.icon.icon-round-checked-big {
  width: 62px;
  height: 62px;
  background-position: -43px -135px;
}
.slider {
  width: 100%;
  display: table;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 20px;
  position: relative;
}
.slider.type2 .slider-item {
  width: 50%;
}
.slider.type3 .slider-item {
  width: 33.333%;
}
.slider.type4 .slider-item {
  width: 25%;
}
.slider.type5 .slider-item {
  width: 20%;
}
.slider .slider-item {
  background: #dfdfdf;
  background: -ms-linear-gradient(top, #efefef 0%, #dedede 100%);
  background: linear-gradient(to bottom, #efefef 0%, #dedede 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#dedede, GradientType=0);
  color: #525252!important;
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 2px;
  font: 14px Arial !important;
  height: 31px;
  border: 1px solid #cdcdcd;
  border-left: none!important;
  box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.4);
  border-radius: 0;
  display: block;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 7px;
  width: 25%;
  vertical-align: middle;
  text-decoration: none;
  position: relative;
}
.slider .slider-item:hover {
  background: #efefef;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.slider .slider-item:active {
  background: #cecece;
  background: -ms-linear-gradient(top, #dedede 0%, #efefef 100%);
  background: linear-gradient(to bottom, #dedede 0%, #efefef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#dedede, endColorstr=#efefef, GradientType=0);
}
.slider .slider-item {
  border-color: #cbcbcb #cbcbcb #cbcbcb !important;
}
.slider .slider-item:hover {
  border-color: #cbcbcb #cbcbcb #cbcbcb !important;
}
.slider .slider-item:active {
  border-color: #cbcbcb #cbcbcb #cbcbcb !important;
}
.slider .slider-item:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-left: solid 1px #cbcbcb!important;
}
.slider .slider-item:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.slider .slider-item:hover {
  text-decoration: none;
  color: #525252!important;
}
.slider .slider-item:active,
.slider .slider-item.current {
  background: #353535;
  background: -ms-linear-gradient(top, #454545 0%, #656565 100%);
  background: linear-gradient(to bottom, #454545 0%, #656565 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#454545, endColorstr=#656565, GradientType=0);
  font: 14px Arial;
  color: #fff !important;
  text-shadow: #364f6d 0 1px 1px;
  cursor: default;
}
.switch.slider .slider-item:active,
.switch.slider .slider-item.current {
  background: #b02107;
  background: -ms-linear-gradient(top, #c03117 0%, #d35239 100%);
  background: linear-gradient(to bottom, #c03117 0%, #d35239 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#c03117, endColorstr=#d35239, GradientType=0);
  border-color: #862714 #862714 #a13f2c #862714 !important;
}
.switch.slider .slider-item.current:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -10px;
  left: 45%;
  width: 0;
  height: 0;
  border: 11px solid transparent;
  border-bottom: none;
  border-top: 10px solid #d35239;
}
.switch-blue.slider .slider-item {
  height: 41px;
  padding-top: 11px;
}
.switch-blue.slider .slider-item:active {
  background: #335278;
  background: -ms-linear-gradient(top, #436288 0%, #5075a3 100%);
  background: linear-gradient(to bottom, #436288 0%, #5075a3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#436288, endColorstr=#5075a3, GradientType=0);
  border-color: #2f4f7b #3c587b #3d5a7d #3c587b !important;
}
.switch-blue.slider .slider-item.current {
  background: #335278;
  background: -ms-linear-gradient(top, #436288 0%, #5075a3 100%);
  background: linear-gradient(to bottom, #436288 0%, #5075a3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#436288, endColorstr=#5075a3, GradientType=0);
  border-color: #2f4f7b #3c587b #3d5a7d #3c587b !important;
}
.switch-blue.slider .slider-item.current:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -10px;
  left: 45%;
  width: 0;
  height: 0;
  border: 11px solid transparent;
  border-bottom: none;
  border-top: 10px solid #5075a3;
}
.slider .slider-item .bubble {
  display: block;
  border-radius: 11px;
  border: solid 1px #99373e;
  background-color: #c81e1e;
  width: 22px;
  height: 22px;
  position: absolute;
  top: -13px;
  right: 10px;
  text-align: center;
}
.slider .slider-item .bubble .number {
  font: 12px Arial;
  color: #fff;
  display: inline-block;
  margin-top: 3px;
}
