.dates {padding-top: 20px;}
    .dates__mainCol {width: 700px; float: left;}
    .dates__sideCol {width: 220px; float: right;}

        .dates__postBlock {border: 3px solid #fff; padding: 12px 17px 17px; border-radius: 4px; box-shadow: 0 1px 3px 0px #7D7D7D; margin-bottom: 23px;}
            .dates__postBlock_vars {font: 14px Arial; float: right;}
                .dates__postBlock_vars_item {margin-left: 15px;}
                    .dates__postBlock_vars_item.dashed {text-decoration: none; border-bottom: 1px dotted #436187;}
                    .dates__postBlock_vars_item.dashed:hover {text-decoration: none; border-bottom: none;}
                .dates__postBlock_fields {}
                    .dates__postBlock_row {}
                        .dates__postBlock_label{width: 100px; font-size: 14px; font-weight: bold; color: #333; float-left;}
                        .dates__postBlock_field {width: 560px; margin-left: 100px;}
                    .dates__postBlock_buttons {}
                        .dates__postBlock_buttons_post {}
                        .dates__postBlock_buttons_cancel {}
    .dates .switch-blue >* {font-weight: bold!important; font-size: 18px !important;}
