.pop__layer {position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: url(../img/opacity.png) repeat; z-index: 999;}
.pop__close {display:block; width: 9px; height: 9px; background: url(../img/close_pop.png) no-repeat; position: absolute; top: 10px; right: 10px;}
.pop__window {box-sizing: border-box; -moz-box-sizing: border-box; width: 600px; padding: 25px; border: solid 5px #ecf4fb;
              position: relative; margin: 150px auto 0 auto; background-color: #ffffff; overflow: hidden;}

/** Dashboard popups **/

.pop__dash {padding: 15px 15px 34px;}
    .pop__dash .b-std__header {color: #444444; margin: 0; margin-top: -3px; padding-bottom: 6px; border-bottom: 1px solid #cccccc;}
    .pop__dash_message {margin: 18px 0 20px; font-size: 14px; color: #333333;}
        .pop__dash_message a {font-weight: bold; }
    .pop__dash .b-user__photoFrame {float: left;}
        .pop__dash .b-user__photoFrame_photo {width: 116px; height: 156px;}
    .pop__dash_userInfo {margin-left: 142px; font-size: 14px; color: #333333;}
        .pop__dash_userInfo_about {margin-bottom: 18px; margin-top: -3px;}
        .pop__dash_userInfo_looking {margin-bottom: 17px;}
        .pop__dash_userInfo_interests {}
            .pop__dash_userInfo_interests .title {font-weight: bold; margin-bottom: 2px;}
            .pop__dash_interests_item {margin-bottom: 25px;}
                .pop__dash_interests_item .none {color: #999999; font-size: 12px; font-style: italic; display: inline-block; padding-top: 2px;}
        .pop__dash_buttons {}
            .pop__dash_buttons .button {padding-left: 16px; padding-right: 16px; margin-right: 17px;}

    .pop__bottom {clear: both; width: 100%; padding: 10px 0 5px 15px; background-color: #ecf4fb; position: absolute; left: 0; bottom: 0;
        color: #999999; font-size: 10px;}

    .pop__dash .labe {font-size: 12px; color: #436187; display: inline-block; background-color: #dee7f8; border: 1px solid #cad8f3;
                      border-radius: 2px; padding: 2px 9px 4px 9px; margin-right: 6px;}
