/**** steps.css v.20130311  (remove old htdocs/css/steps.css && htdocs/css/profile/steps.css)  *******/
/* Old styles */
textarea.err, .err .newListSelected, .err .newList{border-color: #990000;}
.errMsg {font: 12px Arial; color:#990000; background: 0 4px  url(../img/err_arrow.png) no-repeat; padding-left: 12px; width: 110px; position: absolute;top:4px; right: -10px; box-sizing: border-box; -moz-box-sizing: border-box;}
.okMsg {background: url(../img/icons/v.png) no-repeat; width: 11px; height:12px; position: absolute;top:8px; right: 89px; box-sizing: border-box; -moz-box-sizing: border-box;}
.hide       {display:none;}
.margT5     {margin-top: 5px;}
.margT10    {margin-top: 10px;}
.margR10    {margin-right: 10px;}
.fixWidth158{width: 158px}
.fixWidth168{width: 168px}
.pre-header{position: relative; top: 0; margin: 0; height: 37px; background-color: #436187; width: 100%;}
.pre-header_inner{position:relative; width:960px; margin:0 auto; padding-top: 4px;}

/* Barrier */
#required-info .label {width: 135px; margin-right:5px; float: left; font-size: 14px; padding-top: 5px;}
#required-info .content-steps  {width: 350px; display: inline-block;}
#required-info .formRow {margin-bottom: 13px; position: relative;}
#required-info .tips {font: 10px Arial; color: #999999;}
#required-info .content-steps {margin-right: 10px}
#required-info .formRow label {margin: 0;}
#required-info  span.div {font-size: 17px; text-align: center; margin: 5px;}
#required-info a {font: 12px Arial; color:#334a66;}
#required-info a.more {margin-left: 4px;}
#required-info a.centim {margin-top: 5px; display: inline-block; position: relative;}
#required-info .newListSelected {box-sizing: border-box; -moz-box-sizing: border-box; height: 27px; padding-top: 5px; padding-left: 5px;}
#required-info .formRow input[type="radio"] {position: relative; bottom: -2px;}
.shortField {width: 120px; display: inline-block;}
.shortSelect{width: 106px; display: inline-block;}

