/**** steps.css v.20130311  (remove old htdocs/css/steps.css && htdocs/css/profile/steps.css)  *******/
/* Old styles */
textarea.err, .err .newListSelected, .err .newList{border-color: #990000; border-radius: 2px;}
.errMsg {font: 12px Arial; color:#990000; background: 0 3px  url(../img/err_arrow.png) no-repeat; padding-left: 12px; width: 110px; position: absolute;top:4px; right: -10px; box-sizing: border-box; -moz-box-sizing: border-box;}
.okMsg {background: url(../img/icons/v.png) no-repeat; width: 11px; height:12px; position: absolute;top:8px; right: 89px; box-sizing: border-box; -moz-box-sizing: border-box;}
.hide       {display:none;}
.margT5     {margin-top: 5px;}
.margT10    {margin-top: 10px;}
.margR10    {margin-right: 10px;}
.fixWidth158{width: 158px}
.fixWidth168{width: 168px}
.pre-header{position: relative; top: 0; margin: 0; height: 37px; background-color: #436187; width: 100%;}
.pre-header_inner{position:relative; width:960px; margin:0 auto; padding-top: 4px;}

/* Barrier */
#required-info .label {width: 135px; margin-right:5px; float: left; font-size: 14px; padding-top: 5px;}
#required-info .content-steps  {width: 350px; display: inline-block;}
#required-info .formRow {margin-bottom: 13px; position: relative;}
#required-info .tips {font: 10px Arial; color: #999999;}
#required-info .content-steps {margin-right: 10px}
#required-info .formRow label {margin: 0;}
#required-info  span.div {font-size: 17px; text-align: center; margin: 5px;}
#required-info a {font: 12px Arial; color:#334a66;}
#required-info a.more {margin-left: 4px;}
#required-info a.centim {margin-top: 5px; display: inline-block; position: relative; text-decoration: none; border-bottom: 1px dotted #436187;}
    #required-info a.centim:hover {border: none; text-decoration: none;}
#required-info .newListSelected {box-sizing: border-box; -moz-box-sizing: border-box; height: 27px; padding-top: 5px; padding-left: 5px;}
#required-info .formRow input[type="radio"] {position: relative; bottom: -2px;}
.shortField {width: 120px; display: inline-block;}
.shortSelect{width: 106px; display: inline-block;}
#required-info .formRow .fieldLang {width: 170px; float: left;}
#required-info .formRow .fieldLangLevel {width: 170px; float: right}
.steps #required-info .formRow {margin-bottom: 10px;}
.steps #required-info .button {margin-top: 17px; margin-left: 305px; width: 185px;}
/* Steps */
.steps > .std__header {margin-bottom: 20px; padding-bottom: 6px;}
.steps__progress {border: 1px solid #ddd; padding-top: 12px; padding-bottom: 14px; margin-bottom: 30px;}
    .steps__progress_line {width: 720px; height: 30px; margin: 0 auto 3px; position: relative; background: url(../img/vip/progress.png) no-repeat;}
    .steps__progress_points {overflow: hidden;}
        .steps__progress_point {float: left; width: 25%; text-align: center; font-size: 14px; font-weight: bold; color: #ccc}
            .steps.step-1 .steps__progress_point.point-1 {color: #436187;}
            .steps.step-2 .steps__progress_line {background-position: 0 -32px;}
            .steps.step-2 .steps__progress_point.point-1 {font-weight: normal; color: #333;}
            .steps.step-2 .steps__progress_point.point-2 {color: #436187;}
            .steps.step-3 .steps__progress_line {background-position: 0 -64px;}
            .steps.step-3 .steps__progress_point.point-1,
            .steps.step-3 .steps__progress_point.point-2 {font-weight: normal; color: #333;}
            .steps.step-3 .steps__progress_point.point-3 {color: #436187;}
            .steps.step-4 .steps__progress_line {background-position: 0 -96px;}
            .steps.step-4 .steps__progress_point.point-1,
            .steps.step-4 .steps__progress_point.point-2,
            .steps.step-4 .steps__progress_point.point-3 {font-weight: normal; color: #333;}
            .steps.step-4 .steps__progress_point.point-4 {color: #436187;}

.steps__description {width: 190px; float: left; font-size: 14px; color: #333; padding-top: 13px;}
    .steps__description > .std__header {margin-bottom: 12px;}
.steps__content {margin-left: 250px;}
    .steps__photoUpload {width: 490px; margin-bottom: 30px; padding-top: 13px; box-sizing: border-box; -moz-box-sizing: border-box;}
        .steps__photoUpload_title {font-size: 14px; color: #333; margin-bottom: 10px;}
        .steps__photoUpload_photoFrame {float: left; position: relative;}
        .steps__photoUpload_photo {width: 100px; height: 100px;}
        .steps__photoUpload_preloader {position: absolute; top: 2px; left: 2px; width: 100px; height: 100px; background: url(../img/opacity-lite.png) repeat; }
            .steps__photoUpload_preloader_message {font-size: 12px; color: #fff; line-height: 100px; vertical-align: middle; text-align: center;}
            .steps__photoUpload_preloader_message .preloader {background: url(../img/preloader-11.gif) no-repeat; display: inline-block; width: 11px; height: 11px; margin-right: 8px;

            }
        .steps__photoUpload_description {margin-left: 125px;}
            .steps__photoUpload_description_text {font-size: 12px; color: #333; margin-bottom: 10px; line-height: 14px;}
            .steps__photoUpload_button {margin-bottom: 5px;}
            .steps__photoUpload_conditions {font-size: 10px; color:#999; line-height: 12px;}
.steps .errMsg {right: 72px; width: 125px;}
.steps .okMsg {right: 186px;}
.steps__photoUpload_wrap {position: relative}
    .steps__photoUpload_wrap .errMsg {top: 65px;}
    .steps__photoUpload_wrap .okMsg {top: 65px;}
.steps__photoUpload.err {border: 2px solid #990000; border-radius: 4px;}

/* Step 2 */
.steps_interest_message {margin-bottom: 10px;}
    .steps_interest_message .count {font-weight: bold;}
    .steps_interest_button {text-align: right; margin-top: 30px;}
    .steps_interest_button .button {width: 105px;}

/* Step 3 */
.steps__step-3_form  {margin-bottom: 20px;}
    .steps__step-3_form .formRow {margin-bottom: 15px; position: relative}
    .steps__step-3_form .label {font-size: 14px; color: #000; margin-bottom: 4px;}
    .steps__step-3_form .content-steps {width: 490px;}
        .steps__step-3_form .content-steps textarea {width: 100%; height: 100px; margin: 0; box-sizing: border-box; -moz-box-sizing: border-box; resize: vertical;}
        .steps__step-3_form .content-steps textarea::-webkit-input-placeholder {font-style: italic;}
        .steps__step-3_form .content-steps textarea::-moz-placeholder {font-style: italic;}
        .steps__step-3_form_description {font-size: 11px; color: #666;}
        .steps__step-3_form_description .count {float: right;}
        .steps__step-3_form_button {text-align: right; width: 490px; padding-top: 13px;}
            .steps__step-3_form_button .button {width: 184px;}
        .steps__step-3_form .errMsg {top: 25px; right: 10px; width: 187px;}
        .steps__step-3_form .okMsg  {top: 28px; right: 189px;}
        .steps__step-3_form .err textarea {border-color: #900;}

/* Step 4*/
.steps__step-4_sideLabel {color: #436187; font-weight: bold; background: #fff; display: block; box-sizing: border-box; -moz-box-sizing: border-box; padding: 13px 20px 15px; width: 170px; height: 60px;
    border-top-left-radius: 4px;  border-bottom-left-radius: 4px; position: relative; margin-top: 14px;}
    .steps__step-4_sideLabel .a{display: block; width: 0; height: 0; border: 30px solid transparent; border-right: none; border-left: 20px solid #fff; position: absolute; top: 0; right: -20px; }

    .steps__step-4_list {margin-bottom: 22px;}
        .steps__step-4_list_header {margin: 0 0 20px; font: bold 14px Arial; color: #333; text-transform: uppercase; padding-bottom: 2px; border-bottom: 1px solid #ccc;}
        .steps__step-4_list .formRow {margin-bottom: 20px;}
            .steps__step-4_list .label {width: 115px; float: left; vertical-align: top;}
            .steps__step-4_list .content-steps {font-size: 12px; margin-left: 140px;}
            .steps__step-4_list .content-steps.haveSelect {position: relative; top: -5px;}
                .steps__step-4_optList {font-size: 0; margin-left: -25px;}
                    .steps__step-4_optList_item {display: inline-block; width: 170px; margin-left: 25px; font-size: 12px; vertical-align: top; margin-bottom: 10px;}
                        .steps__step-4_optList_item label {vertical-align: top; padding: 1px 0 1px 33px; position: relative; display: inline-block; }
                        .steps__step-4_optList_item input[type=checkbox] {position: absolute;top: -1px; left: 1px;}
                .steps__step-4_height {width: 160px; display: inline-block;}
                    .steps__step-4_height select,
                    .steps__step-4_height .newListSelected {box-sizing: border-box; -moz-box-sizing: border-box; height: 27px; width: 100%;}
                    .steps__step-4_height .newListSelected {padding: 5px; font-size: 14px;}
                        .steps__step-4_list .divide {margin: 0 7px 0 8px; font-size: 14px;}
                        .steps__step-4_list .centim {margin-left: 15px; text-decoration: none; border-bottom: 1px dotted #436187;}
                        .steps__step-4_list .centim:hover {text-decoration: none; border-bottom: none;}
    .steps__step-4_button {text-align: right; padding-top: 5px;}
        .steps__step-4_button .button {width: 265px;}