/************* ClaSS ********
*** top100 *****************/
.b-top100 p  {font-size: 14px; color:#333333; margin-bottom: 10px; padding: 0;}
.b-top100 ol {padding-left: 20px; }
.b-top100 ol li {font-size: 14px; color: #333333; margin-bottom: 20px;}
.b-top100__topMenu {clear: both; display: block; margin-bottom: 20px;}
    .b-top100__topMenu_startBtn {width: 140px; float: left;}
    .b-top100__topMenu_slideMenu {width: 570px; float: right; margin: 0;}
    .b-top100__lookBox_showBtn {width: 113px;}
    
    /*** WINNERS ***/
    .b-top100__winners   {}
        .b-top100__winners_sliderHeader {text-align: center; padding: 5px 0 7px 0; background-color: #eeeeee; border-top-right-radius: 4px; border-top-left-radius: 4px; }
        .b-top100__winners_slider {position: relative; display: block; margin-bottom: 20px;}
            .b-top100__winners_slider_arrow {display: block; position: absolute; top: 130px; width: 26px; height: 26px; background: url(../img/top100.png) no-repeat;}
                .b-top100__winners_slider_arrow_left   {left: 9px; background-position: 0 -42px;}
                .b-top100__winners_slider_arrow_right {right: 9px; background-position: -26px -42px; display: none;}
                .b-top100__winners_slider_arrow_left:hover {background-position: -52px -42px;}
                .b-top100__winners_slider_arrow_right:hover {background-position: -78px -42px ;}
                .b-top100__winners_slider_arrow_left:active {background-position: -104px -42px;}
                .b-top100__winners_slider_arrow_right:active {background-position: -130px -42px ;}
            .b-top100__winners_slider_container {width: 580px; height: 350px; position: relative; margin: 0 auto; overflow: hidden;}
                    .b-top100__winners_slider_container_month {height: 350px; position:absolute; right:0;}
                        .b-top100__winners_slider_container_month_item {display: block; width: 580px; height: 350px; position: relative; float: right; padding: 0; margin: 0;}
                            .b-top100__winners_user {width: 122px; position: absolute; top: 17px; color:#333333; }
                                .b-top100__winners_user_place {font: bold 20px Arial; text-align: center; margin-bottom: 8px;}
                                    .b-top100__winners_user_sup {font-size:12px;}
                                .b-top100__winners_user_photoFrame{margin-bottom: 6px;}
                                    .b-top100__winners_user_photo {width: 116px; height: 156px;}
                                .b-top100__winners_user_person {margin-bottom: 2px;}
                                .b-top100__winners_user_points {font-size: 12px; text-align: center;}
                                
                                .b-top100__winners_user__second  {left: 0;}
                                .b-top100__winners_user__third    {right: 0;}
                                .b-top100__winners_user__first    {position: relative; margin: 0 auto; top:0; width: 226px;}
                                    .b-top100__winners_user_place__first    {font: bold 24px/24px Arial; color: #ffffff; text-align: center;  z-index: 3; text-shadow: 0 -1px 0 #954428; height: 42px; width: 232px; position: absolute; top: 246px; left: -3px; background: url(../img/top100.png) no-repeat; }
                                        .b-top100__winners_user_sup__first{font-size:14px;}
                                    .b-top100__winners_user_photoFrame__first {margin-bottom: 3px;}
                                        .b-top100__winners_user_photo__first   {width: 220px; height: 290px;}
                                    .b-top100__winners_user_person__first {margin-bottom: 3px; font-size: 24px;}
                                    .b-top100__winners_user_points__first {font-size: 14px; text-align: center;}
 
    /*** LEADERBOARD ***/
    .b-top100__leaderBoard {padding:12px 15px 0 15px; border-radius: 4px; background-color: #ecf4fb; overflow: hidden; margin-bottom: 20px;}
        .b-top100__leaderBoard_header {margin-bottom: 13px;}
        .b-top100__leaderBoard_list{text-align: justify;}
            .b-top100__leaderBoard_list_last{width: 100%; height: 0; visibility: hidden; display: inline-block;}
            .b-top100__leaderBoard_user {width: 122px; display: inline-block; margin-bottom: 16px;}
                .b-top100__leaderBoard_number {font: bold 14px Arial; color:#999999;margin-bottom: 7px;}
                .b-top100__leaderBoard_user_photoFrame {margin-bottom: 6px;}
                    .b-top100__leaderBoard_user_photo {width: 116px; height: 156px;}
                    .b-top100__leaderBoard_user_givPoint {display: none; width: 116px; height: 34px; position: absolute; bottom: 2px; left: 2px; background: url(../img/opacity-lite.png) repeat; z-index:5px; }
                        .b-top100__leaderBoard_user_givPointBtn {width: 105px; margin: 5px 0 0 5px; box-shadow: 0 1px 2px #4E4E4E !important;}
                    .b-top100__leaderBoard_user_photoFrame:hover>.b-top100__leaderBoard_user_givPoint {display: block;}
                .b-top100__leaderBoard_user_person {font-size: 14px; margin-bottom: 1px; }
                .b-top100__leaderBoard_user_points {font-size: 12px; color:#333333; text-align: center;}
          
         /** No WINNERS **/       
        .b-top100__leaderBoard__noWinners{padding: 0; background: 0; text-align: justify; margin-bottom: 0;}
            
    
     /** WIDGET **/
    .b-top100__widget_youIn {}
        .b-top100__widget_youIn_header{margin-bottom: 10px; text-align: center;}
        .b-top100__widget_youIn_user_photoFrame{display: block; width: 116px; margin: 0 auto 11px auto;}
            .b-top100__widget_youIn_user_photo{width: 116px; height: 156px;}
            .b-top100__widget_youIn_points{text-align: center; width: 62px; height: 62px ; position: absolute;  bottom: 10px; right: -31px; background: -232px 0 url(../img/top100.png) no-repeat;}
                .top100__widget_youIn_pointsItem{font-size: 12px; font-weight:  bold; color: #ffffff; line-height: 14px; margin-top: 18px; display: inline-block; }
                    .top100__widget_youIn_pointsItem_Count{font-size: 14px;}
        .b-top100__widget_youIn_place{margin-bottom: 13px;}
            .b-top100__widget_youIn_place_item{  }
                .b-top100__widget_youIn_place_name{padding-left: 20px; font-size: 12px; color: #666666;}
                .b-top100__widget_youIn_place_number{font-size: 12px; color: #333333; display: inline-block; text-align: right; margin-right: 10px; float: right;}
                .b-top100__widget_youIn_place_count {font-size: 10px; width: 25px; padding-left: 7px; padding-right: 5px; display: inline-block; text-align: center; float: right; margin-right: 10px; position: relative;}
                        .b-top100__widget_youIn_place_count::before{content: ''; width: 7px; height: 10px; top: 3px; left: 0; background: url(../img/top100.png) no-repeat; display: none; position: absolute; }
                   .b-top100__widget_youIn_place_countDown{color: #c41616; }
                        .b-top100__widget_youIn_place_countDown::before{color: #c41616; background-position:-156px -61px; display: block; }
                   .b-top100__widget_youIn_place_countUp {color: #54823b;}   
                        .b-top100__widget_youIn_place_countUp::before{color: #c41616; background-position:-163px -57px; display: block; }
        .b-top100__widget_youIn_btn{width: 166px;}
        .b-top100__widget_youIn__notIn {margin-bottom:20px;}
    
    /*** Top-100 GAME ***/
    .w-top100__game{}
        .b-top100__game_header{text-align: center;}
        .w-top100__game_field{width: 600px; height: 370px; position: relative; margin: 0 auto 20px auto;}
            .b-top100__game_user{border-radius: 4px; padding: 15px; display: inline-block;}
                .b-top100__game_user_photoFrame{}
                    .b-top100__game_user_photo{width:220px; height: 290px;}
                    .b-top100__game_user_person{width: 220px; height: 28px; padding-top: 7px; position: absolute; bottom: 1px; left: 2px; background: url(../img/opacity-lite.png) repeat; font: 18px Arial; color: #ffffff; text-align: center;}
                .b-top100__game_user_thisOne{font: bold  18px  Arial; color:#333333; text-align: center; display: none;}
                    .b-top100__game_plusOne{display: inline-block; width: 37px; height: 37px; background: -175px -42px url(../img/top100.png) no-repeat; margin: 0 0 -13px 10px;}
            .b-top100__game_user:hover{text-decoration: none; background-color: #ecf4fb; }
            .b-top100__game_user:hover .b-top100__game_user_thisOne{display: block;}
                .top100__game_user__first{float:left;}
                .top100__game_user__second{float:right;}
            .top100__game_center{width: 42px; margin: 0 auto; position: relative; padding-top: 140px; text-align: center;}
                .b-top100__game_or {top: 140px; display: block; width: 42px; height: 42px; background-color: #cccccc; border-radius: 21px; color: #ffffff; text-align: center;}
                    .b-top100__game_or_item{color: #ffffff; font: bold 18px Arial; display: block; padding-top: 8px;}
                .top100__game_skipBtn {display: inline-block; margin-top: 150px; font-size: 14px;}
        .b-top100__game_lastChoises {}
            .top100__game_lastChoises_header{background-color: #eeeeee; height: 25px; padding-top: 5px; padding-left: 10px; border-top-left-radius: 4px; border-top-right-radius: 4px;}
            .top100__game_lastChoises_list{height: 130px; overflow:hidden; margin-bottom: 20px;}
                .top100__game_lastChoises_user{width: 70px; margin-left: 12px; float: left;}
                    .top100__game_lastChoises_user:first-child{margin-left: 1px;}
                    .top100__game_lastChoises_user_photo {width:66px; height: 86px;}
                    .top100__game_lastChoises_user_voted{width:66px; height: 17px; padding-top:3px; font-size: 12px;}
                    .top100__game_lastChoises_addBtn{width: 70px; margin-top: 2px;}
                .top100__game_lastChoises_showAll{float:right; margin-right: 5px;}
        .b-top100__game__noUsers{margin-bottom: 350px;}
        
     /***  RANK block ***/
     .b-top100__rankBlock{overflow:hidden; margin-bottom: 30px;}
        .b-top100__rankBlock_user{width: 122px; margin-right:20px; float:left;}
            .b-top100__rankBlock_user_photoFrame{margin-bottom:12px;}
                .b-top100__rankBlock_user_photo{width:116px; height:156px;}
                .b-top100__rankBlock_user_btn{width:120px;}
        .b-top100__rankBlock_main{width: 350px; margin-right:20px; float:left;}
            .b-top100__rankMain_header{}
            .b-top100__rankBlock_rankTable{font-size: 12px; color: #333333; width: 350px; background-color: #dddddd; border-radius: 4px; border:none; border-collapse: collapse;}
                .b-top100__rankBlock_rankTable tr:first-child{font-weight:bold;}
                .b-top100__rankBlock_rankTable tr{height:31px;}
                .b-top100__rankBlock_rankTable td{ padding: 0 10px;}
                .b-top100__rankBlock_rankTable_evenRow{background-color:#eeeeee;}

        .b-top100__rankBlock_right{width:220px; float:left; padding-top: 33px;}
            .top100__rankBlock_voteBtn  {width:218px; margin-bottom:20px;}
            .top100__rankBlock_userLink{width:214px; margin-bottom:20px!important; display: block;}
            .top100__rankBlock_shareFace{width: 82px; margin-right: 10px;}
            .top100__rankBlock_shareTwit{width: 82px;}
    
    /*** VOTED List **/
    .b-top100__votedList{text-align: justify;}
        .b-top100__votedList__last{width: 100%; height: 0; visibility: hidden; display: inline-block;}
        .b-top100__votedList_user{margin-bottom: 20px; display: inline-block;}
            .top100__votedList_photoFrame{margin-bottom: 10px;}
                .top100__votedList_photo{width:116px; height:156px;}
                .top100__votedList_opaLayer{height: 35px; width:116px; padding:0;}
                    .top100__votedList_opaLayer_count{display:inline-block; padding-top: 13px;}
                    .top100__votedList_opaLayer_btn{width: 105px; display:none!important;  margin-top: 5px; box-shadow: 0 1px 2px #4E4E4E !important;}
                .top100__votedList_photoFrame:hover .top100__votedList_opaLayer_count{display:none;}
                .top100__votedList_photoFrame:hover .top100__votedList_opaLayer_btn {display:inline-block !important;}
            .top100__votedList_person{font-size: 14px;}
            
    /*** PopUp ***/
    .top100__popup{width: 490px; padding: 20px 20px 95px;}
        .top100__popup_loadPhoto{ padding: 15px 15px 0px; width:500px;}
        .top100__popup_loadPhoto_uploadTitle{margin-bottom: 20px !important;}
        .b-top100__popup_illustr{text-align: justify; margin-top: 18px; margin-bottom: 12px;}
            .top100__popup_illustr_item{display: inline-block; text-align: center;}
                .b-top100__popup_illustr_title{display: block; font-weight: bold; font-size: 14px; margin-top: 3px;}
        .top100__popup_bottom{height: 85px; }    
            .top100__popup_bottom_joinBtn{width: 180px; margin: 20px 45px 0 175px;}
            .top100__popup_bottom_later{font-size: 14px;}
        
        .top100__popup_loadPhoto_or{margin: 42px 0 37px 0;}  
            .top100__popup_loadPhoto_or .std__or {left: 225px}
        .top100__popup_loadPhoto_chosenTitle{margin-bottom: 10px;}
        .b-top100__popup_loadedPhotoList{text-align: justify;}
            .top100__popup_loadedPhoto{display: inline-block; margin-bottom: 0;}
            .top100__popup_loadedPhoto_photo {width: 116px; height: 156px;}
        
        .top100__popup_loadPhoto_chooseBtn{width: 100px; margin-right: 8px;}
        .top100__popup_loadPhoto_uploadBtn{width: 80px; float: right;}
        