/*** Виджеты wid.css***/

    /*** Виджет Want to talk ...? ***/

    .wid__wtt {text-align: center;}
        .wid__wtt_bubble {margin-bottom: 15px; background-color: #54823b;}
        .wid__wtt_user_photoFrame{display: block; width: 116px; margin: 0 auto 14px auto;}
            .wid__wtt_user_photo{width: 116px; height: 156px;}
            .wid__wtt_title {font-size: 14px; font-weight: bold; color:#333333; margin-bottom: 15px; display: inline-block;}
            .wid__wtt_btn{width: 78px;}
                .wid__wtt_btnTalk {float:left; }
                .wid__wtt_btnShow{float:right;}

    /***** Daily Matches *****/
.wid__matches {padding:  7px 9px 9px; border: 1px solid #cccccc; border-radius: 4px; width: 409px;  }
    .wid__matches_user{}
        .wid__matches_user_userPic{margin-right: 15px; float: left; margin-bottom: 0;}
            .wid__matches_user_userPic_photo{width: 66px; height: 86px;}
        .wid__matches_user_userInfo{}
            .wid__matches_user_person{font-size: 18px; text-align: left; line-height: 18px; margin-bottom: 8px;}
            .wid__matches_user_descript{}
            .wid__matches_control{border-top: 1px solid #cccccc; margin-top: 11px; padding-top: 10px; }
                .wid__matches_control_content{display: inline-block; margin-top: 3px; margin-left: 6px; }
                .wid__matches_control_buttons{float: right; display: inline-block;}
                    .wid__matches_control_buttons .matches_button{width: 58px; margin-left: 10px; margin-bottom: 2px;}


    /***** Today Birthdays *****/

.wid__bday {background-color: #ecf4fb; border-radius: 4px; width: 241px; padding: 8px 10px 10px; position: relative; }
    .wid__bday_controls {width: 7px; height: 13px; position: absolute; top: 76px;}
        .wid__bday_controls_left{left: 6px; background: -65px -16px url(../img/search/srch_sprt.png) no-repeat;}
        .wid__bday_controls_right{right: 6px; background: -73px -16px url(../img/search/srch_sprt.png) no-repeat;}
    .wid__bday_userHolder{}
        .wid__bday_user{}
            .wid__bday_user_userPic{margin: 0 15px 0 11px; float: left;}
                .wid__bday_user_userPic_photo{width: 66px; height: 86px;}
            .wid__bday_user_userInfo{width: 140px; float: left;}
                .wid__bday_user_person{font-size: 18px; line-height: 18px; text-align: left; margin-bottom: 1px;}
                .wid__bday_user_location{font-size: 11px;}
                .wid__bday_user_options{padding-top: 6px;}

    .wid__bday_button{margin-top: 7px; padding-top: 10px; border-top: 1px solid #dddddd; text-align: center; padding-bottom: 2px;}
        .wid__bday_buttonSend{width: 118px;}

    /**** Lastest users list ****/
.wid__userList {}
    .wid__userList_item{overflow: hidden; margin-bottom: 10px;}
        .wid__userList_item .b-user__person {font-size: 14px; text-align: left; display: inline-block; margin-bottom: 2px;}
        .wid__userList_item .user__location {font-size: 11px;}
        .wid__userList_item .user__descript {font-size: 12px;}

    /**** After Video ****/
.wid__videoAfter {box-sizing: border-box; -moz-box-sizing: border-box; background-color: #e7f0f5; width: 560px; height: 400px; padding: 5px;}
    .wid__videoAfter .b-std__header{ margin: 13px 0 13px 15px;}
    .wid__wideoAfter_list {background-color: #fff; padding: 19px 15px 17px;}
        .wid__videoAfter .srch__userList_user{}
        .wid__videoAfter .b-user__photoFrame_photo {width: 76px; height: 76px;}
        .wid__videoAfter .b-user__person {font-size: 12px; text-align: left; margin-bottom: 3px;}
        .wid__videoAfter .user__location {font-size: 10px; text-align: left; margin-bottom: 15px;}
        .wid__videoAfter .user__options  {font-size: 10px; text-align: left; }
        .wid__videoAfter .srch__userList_user {padding: 10px 9px 11px; width: 160px;}