.b-user__photoFrame     {border: solid 1px #e5e5e5; border-top: none; border-bottom-color:#b1b1b1;}
.b-f2f__user__current {border: solid 1px #e5e5e5; border-top: none; border-bottom-color:#c6cdd3;} 
.b-f2f__user_morePhoto_photoFrame__current {margin-right: 9px;}