     .contButGreen {position:relative;} 
    .gb_left,.gb_right,.bb_left,.bb_right { padding:10px 0px; top:-7px;} 
    .blue_but.big .bb_left ,.blue_but.big .bb_right { top:-16px!important;} 
    .blue_but.big .bb_left ,.blue_but.big .bb_right { top:-16px!important;} 
	.lookingbx .searchbox {margin-right:20px;}

	.blue_but.left .bb_left{left:6px;}
	.blue_but.left .bb_right{right:0px;}
	
	.vq_content_menu ul li{display:inline;}
	.vq_content_menu{height:40px;}
.usr_choise_photos .brdpic2{float:left;}
.usr_choise_photos .brdpic2 img{margin-top:4px;}
