	
	body{background:url(../img/back.png) 0 0 repeat-x;}
	
	.ui-page,.ui-content{background:transparent!important;}
	.ui-shadow{-webkit-box-shadow:rgba(0, 0, 0, 0) 0 0 0;}
	.ui-li:last-child, .ui-li.ui-field-contain:last-child{border-width:1px!important;}
	.ui-btn-up-yb,.ui-btn-hover-yb {background: #fff; border:solid #BBB; border-width:1px 1px 0 1px; color:#101010; font-weight: bold; text-shadow: white 0px 1px 1px;}
	.ui-btn-hover-yb {background: #DADADA -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EDEDED), to(#DADADA)); background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EDEDED), to(#DADADA)); background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EDEDED), to(#DADADA));}

	.ui-icon.ui-icon-arrow-r{background:url(../img/arrow.png) 0 0 no-repeat;}
	.link-log,.link-log-fb,.link-log-gm,.link-log-bm{padding-left:55px!important;}
	.link-log{background:url(../img/login.png) 10px 50% no-repeat;}
	.link-log-fb{background:url(../img/facebook.png) 10px 50% no-repeat;}
	.link-log-gm{background:url(../img/gmail.png) 10px 50% no-repeat;}
	.link-log-bm{background:url(../img/member.png) 15px 50% no-repeat;}
	
	.logo{text-align:center; padding:20px 0;}
@media screen and (max-device-width: 480px){
	
	.fs12{font-size:12px;}
	.normal{font-weight:normal;}

	.ui-header .under-title, .ui-footer .under-title {
		display: block;
		font-size: 10px;
		font-weight: normal;
		margin: 0 90px 0.8em;
		min-height: 1.1em;
		outline: 0 none !important;
		overflow: hidden;
		padding: 0;
		text-align: center;
		white-space: nowrap;
	}
	.ui-header .ui-title{
		margin-bottom:0;
	}
	.ui-table{
		border-collapse:collapse;
		width:100%;
	}
	.ui-table td{
		font-size:11px;
		padding:5px;
		font-weight:normal;
	}
	.listview-w3{
		width:33%;
		float:left;
	}
	.ui-content.ui-body-b{
		background:transparent;
	}
	
	img{
	  max-width:100%;
	  height:auto;
	}
}