.button_blue,.button_green,.button_white{background:url(img/buttons_bg.jpg) 0 0 repeat-x; text-align:center; box-shadow:1px 1px 3px #666565; -webkit-box-shadow:1px 1px 3px #666565; -moz-box-shadow:1px 1px 3px #666565; cursor:pointer; padding:0 6px 3px 6px; font-weight:bold; text-shadow: 1px -1px 1px #6e6d6d; border:none;}
.super_button_green,.super_button_blue{background:url(img/buttons_super_bg.jpg) 0 0 repeat-x; height:57px; font-size:24px; text-align:center; box-shadow:1px 1px 3px #666565; -webkit-box-shadow:1px 1px 3px #666565; -moz-box-shadow:1px 1px 3px #666565; cursor:pointer; padding:0 10px 3px 10px; font-weight:bold; text-shadow: 1px -1px 1px #6e6d6d; border:none;}
	.button_blue,.button_green,
	.super_button_green,.super_button_blue{color:#fff;}
	.super_button_blue{background-position: 0 -57px;}
	.button_green{background-position: 0 -33px;}
	.button_white{color:#a09f9f; background-position: 0 -66px; text-shadow: 1px -1px 1px #fff;}
	.button_blue.large,.button_green.large,.button_white.large{height:33px; font-size:14px;}
	.button_blue.small,.button_green.small,.button_white.small{height:27px; font-size:12px;}
	@media screen and (-webkit-min-device-pixel-ratio:0) {
			 .button_blue,.button_green,.button_white{padding:0px 10px;}
		}
		@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0){
			  head~body .button_blue,.button_green,.button_white{padding:0px 10px;}
		}