@font-face {
    font-family: "bebas";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/bebasneue-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/bebasneue-webfont.woff") format("woff"), url("fonts/bebasneue-webfont.ttf") format("truetype"), url("fonts/bebasneue-webfont.svg#bebas_neueregular") format("svg");
}
.resetIndents {
    margin: 0;
    padding: 0;
}
body {
    color: #262A2D;
    font-family: Arial;
    font-size: 12px;
    line-height: 14px;
}
a {
    color: #007CCF;
    text-decoration: none;
}
a:hover {
    color: #F03800;
    text-decoration: underline;
}
.slogan {
    color: #5D666D;
    font-family: bebas;
    font-size: 60px;
    line-height: 44px;
    text-transform: uppercase;
}
h1, h2 {
    border-bottom: 1px solid #007CCF;
    color: #007CCF;
    font-family: bebas;
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 10px;
    text-align: left;
}
h1.shiny, h2.shiny {
    border-bottom-color: #F03800;
    color: #F03800;
}
h1.lazy, h2.lazy {
    border: medium none;
    color: #254D67;
    margin-bottom: 15px;
}
h3 {
    color: #424242;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 3px;
    margin-top: 10px;
}
p {
    padding-bottom: 4px;
}
.section {
    margin-bottom: 18px;
}
.listIndent {
    margin-bottom: 4px;
    margin-top: 4px;
}
.listIndent li {
    margin-top: 4px;
}
ul {
    list-style: disc outside none;
    margin-bottom: 4px;
    margin-left: 30px;
    margin-top: 4px;
    padding: 0;
}
ul li {
    margin-top: 4px;
}
ul li {
    padding-left: 5px;
}
ul.unlabel {
    list-style: none outside none;
}
ul.v-styled {
    font-size: 14px;
    list-style-image: url("../img/v-mark.png");
    margin-top: 20px;
}
ul.v-styled li {
    margin-bottom: 15px;
    margin-top: 0;
}
ol {
    margin-bottom: 4px;
    margin-left: 35px;
    margin-top: 4px;
}
ol li {
    margin-top: 4px;
}
.menu {
    display: block;
    font-size: 12px;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}
.menu li {
    float: left;
    margin: 0 0 0 15px;
    padding: 0;
}
.menu li.current a, .menu li.current {
    color: #666666;
    text-decoration: none;
}
.menu li:before {
    color: #CCCCCC;
    content: "•";
    margin-right: 15px;
}
.menu.foot_menu li {
    margin-left: 7px;
}
.menu.foot_menu li:before {
    color: #666666;
    content: "|";
    margin-right: 8px;
}
.menu.foot_menu *:first-child:before {
    display: none;
}
.menu *:first-child:before {
    display: none;
}
.vertical-form {
    width: 290px;
}
.vertical-form .form-item {
    display: block;
    margin-bottom: 10px;
}
.vertical-form .form-item .cell {
    display: inline-block;
}
.vertical-form .form-item .cell.left {
    text-align: left;
}
.vertical-form .form-item .cell.right {
    text-align: right;
}
.vertical-form .form-item input[type="text"], .vertical-form .form-item input[type="email"], .vertical-form .form-item input[type="password"] {
    -moz-box-sizing: border-box;
    border: 1px solid #75B3DC;
    border-radius: 2px 2px 2px 2px;
    color: #262A2D;
    font-family: Arial;
    font-size: 14px;
    height: 34px;
    line-height: 16px;
    padding: 7px;
    width: 100%;
}
.vertical-form .form-item input[type="text"]:-moz-placeholder, .vertical-form .form-item input[type="email"]:-moz-placeholder, .vertical-form .form-item input[type="password"]:-moz-placeholder {
    color: #999999;
}
.vertical-form .form-item .signIn {
    float: right;
}
.vertical-form .form-item .forgot {
    color: #254D67;
    display: inline-block;
    position: relative;
    text-decoration: underline;
    top: 11px;
}
.vertical-form .form-item .forgot:hover {
    text-decoration: none;
}
.button {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-box-sizing: border-box;
    background: url("../img/buttons.png") repeat-x scroll 0 0 #007DD1;
    border-color: #80CDFF #007FD3 #002A47;
    border-left: 1px solid #007FD3;
    border-radius: 2px 2px 2px 2px;
    border-right: 1px solid #007FD3;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    height: 34px;
    line-height: 18px;
    min-width: 116px;
    padding: 0 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #0061A1;
}
.button:hover {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-position: 0 -32px;
    border-color: #80CCFF #008DEA #003457;
    border-left: 1px solid #008DEA;
    border-right: 1px solid #008DEA;
    border-style: solid;
    border-width: 1px;
}
.button:active {
    background-position: 0 -64px;
    border: 1px solid #0073BE;
}
a.button {
    padding-top: 7px;
}
a.button:hover {
    color: #FFFFFF;
    text-decoration: none;
}
.button.orange {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F03900;
    background-position: 0 -96px;
    border-color: #F5B882 #DA4D02 #521300;
    border-left: 1px solid #DA4D02;
    border-radius: 4px 4px 4px 4px;
    border-right: 1px solid #DA4D02;
    border-style: solid;
    border-width: 1px;
    height: 60px;
}
.button.orange:hover {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-position: 0 -154px;
    border-color: #F5B882 #D86704 #502601;
    border-left: 1px solid #D86704;
    border-right: 1px solid #D86704;
    border-style: solid;
    border-width: 1px;
}
.button.orange:active {
    background-position: 0 -212px;
    border: 1px solid #C83E01;
}
a.button.orange {
    padding-top: 17px;
}
a.button.orange:hover {
    color: #FFFFFF;
    text-decoration: none;
}
.l-wrapper {
    clear: both;
    margin-bottom: 30px;
    min-width: 1000px;
    position: relative;
}
.l-row {
    clear: both;
    margin: 0 auto;
    position: relative;
    width: 1000px;
}
.l-side {
    float: left;
    margin-right: 30px;
    width: 310px;
}
.l-content {
    margin-left: 340px;
    width: 660px;
}
.top-head {
    background-color: #EEEEEE;
    border-bottom: 1px solid #CCCCCC;
    padding: 13px 0;
}
.top-head .statistic {
    color: #222222;
    display: inline-block;
}
.top-head .statistic strong {
    color: #007CCF;
    font-weight: bold;
}
.top-head .menu {
    float: right;
}
.sloganContainer {
    text-align: center;
}
.headContainer {
    background: url("../img/bg.png") repeat scroll 0 0 transparent;
    border-bottom: 55px solid #E7E6F3;
    border-top: 1px solid #75B3DC;
    height: 193px;
}
.headContainer .l-wrapper {
    background: url("../img/clouds.jpg") no-repeat scroll 50% 0 transparent;
    height: 193px;
}
.headContainer .logo {
    background: url("../img/logo.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 105px;
    left: 36px;
    position: absolute;
    text-indent: -9999px;
    top: 43px;
    width: 241px;
}
.headContainer form.login {
    position: absolute;
    right: 10px;
    top: 8px;
    z-index: 1;
}
.headContainer .man {
    background: url("../img/man.png") no-repeat scroll 0 0 transparent;
    height: 248px;
    left: 287px;
    position: absolute;
    top: 0;
    width: 468px;
}
.paySystems {
    font-size: 0;
    line-height: 0;
    margin-bottom: 10px;
    text-align: justify;
}
.paySystems .icon {
    background: url("../img/paysystems.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 37px;
    width: 130px;
}
.paySystems .icon.i-paypal {
    background-position: 0 0;
}
.paySystems .icon.i-webmoney {
    background-position: 100% 0;
    width: 140px;
}
.paySystems.main {
    margin-bottom: 0;
}
.sellBanner {
    background-color: #007CCF;
    margin-bottom: 25px;
    padding: 20px 15px;
}
.sellBanner.big {
    text-align: center;
}
.sellBanner.big .text {
    background: url("../img/bann-text-big.png") no-repeat scroll 0 0 transparent;
    height: 58px;
    margin-bottom: 0;
    margin-right: 75px;
    vertical-align: top;
    width: 358px;
}
.sellBanner.big .button {
    vertical-align: top;
    width: 280px;
}
.sellBanner .text {
    background: url("../img/bann-text.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 46px;
    margin-bottom: 20px;
    text-indent: -9999px;
    width: 280px;
}
.sellBanner .button {
    width: 100%;
}
.sellBanner .button .btnText {
    background: url("../img/try-it.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 23px;
    text-indent: -9999px;
    width: 214px;
}
.clients {
    text-align: center;
}
.clients h2 {
    margin-bottom: 20px;
}
.clients .clientsList {
    background: url("../img/clients.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 415px;
    width: 281px;
}
.sysStats {
    background-color: #EFEFEF;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 15px;
}
.sysStats .label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 7px;
    width: 200px;
}
.button-sell {
    background: url("../img/sell-btn.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 50px;
    margin-bottom: 20px;
    text-indent: -9999px;
    width: 310px;
}
.button-sell:hover {
    background-position: 0 100%;
}
.footer {
    background-color: #EEEEEE;
    border-top: 1px solid #CCCCCC;
    color: #666666;
    font-family: Arial;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 0;
    padding: 28px 0 55px;
}
.footer .menu {
    float: right;
}
.justify_helper {
    display: inline-block;
    height: 0;
    visibility: hidden;
    width: 100%;
}
.clear {
    clear: both;
    display: block;
    height: 1px;
}
.block {
    margin-bottom: 25px;
}
