.vip__labels {margin-bottom: 15px !important;}
    .vip__labels .ui-btn-inner {padding: 7px;}
    .vip__labels .ui-btn {background: #f7f7f7;}
    .vip__labels .vip__label {width: 85px; display: inline-block; vertical-align: top; margin-right: 6px;}
        .vip__labels .vip__label .vip__label_term {font-size: 18px; color: #000; font-weight: bold; display: block; padding-top: 6px; }
            .vip__labels .vip__label .vip__label_term.single {padding-top: 13px;}
        .vip__labels .vip__label .vip__label_disc {font-size: 12px; color: #ff6602; display: block; font-weight: normal; margin-top: -1px;}
    .vip__labels .vip__label_2 {display: inline-block; text-align: center; color: #fff; font-weight: bold; height: 48px; text-shadow: 0 1px 2px rgba(0,0,0,0.5);
        width: 94px; height: 48px; background: #068ed8 0 -29px url(img/vip/srite.png) no-repeat; background-size: 100% auto; vertical-align: top; border-radius: 3px;}
        .vip__labels .ui-radio-on .vip__label_2 {background-position: 0 -79px;}
        .vip__labels .vip__label_2 .vip__label_price {display: block; font-size: 20px; padding-top: 7px;}
        .vip__labels .vip__label_2 .vip__label_per {display: block; font-size: 9px; margin-top: -1px;}
    .vip__labels .ui-radio .ui-btn {border-width: 1px; border-color: #b7b9bd; box-shadow: none; }

.vip__items {border-spacing: 0; border-collapse: collapse; width: 100%; margin-top: 15px; display: table;}
    .vip__items_row {display: table-row;}
    .vip__items_cell, .vip__items_head {display: table-cell}
    .vip__items .vip__items_head {font-size: 17px; font-weight: bold; color: #f7f7f7; text-align: center; vertical-align: middle; text-shadow: 0 -1px 2px rgba(0,0,0,0.5); height: 43px; width: 43px;
        border-bottom: 1px solid #1b2241;
        background: #354175;
        background: -moz-linear-gradient(top,  #3e4c84 0%, #2b3564 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3e4c84), color-stop(100%,#2b3564));
        background: -webkit-linear-gradient(top,  #3e4c84 0%,#2b3564 100%);
        background: -o-linear-gradient(top,  #3e4c84 0%,#2b3564 100%);
        background: -ms-linear-gradient(top,  #3e4c84 0%,#2b3564 100%);
        background: linear-gradient(to bottom,  #3e4c84 0%,#2b3564 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e4c84', endColorstr='#2b3564',GradientType=0 );
    }
    .vip__items .vip__items_cell {border-bottom: 1px solid #ababab; background: #f7f7f7; height: 43px; width: 43px; text-align: center; vertical-align: middle;}
    .vip__items .vip__items_cell:first-child {border-left: 1px solid #ababab; background: #f7f7f7; padding-left: 10px; line-height: 16px; width: auto; text-align: left;}
    .vip__items .vip__items_cell:last-child {border-right: 1px solid #ababab; background: #f7f7f7; width: 62px;}
.vip__items .vip__items_head {border: none;}
    .vip__items .vip__items_head:first-child {border-top-left-radius: 10px; text-align: left; padding-left: 10px; width: auto;}
    .vip__items .vip__items_head:last-child {border-top-right-radius: 10px; width: 62px;}
.vip__labels .ui-radio .ui-icon {width: 27px; height: 27px; background: 0 0 url(img/vip/srite.png) no-repeat; background-size: 94px auto; margin-top: -12px;}
.vip__labels .ui-radio .ui-icon-radio-on {background: -28px 0 url(img/vip/srite.png) no-repeat; background-size: 94px auto;}
.vip__items .icon-v {display: inline-block; width: 12px; height: 13px; background: -56px 0 url(img/vip/srite.png) no-repeat; background-size: 94px auto;}
.vip__items .vip__items_row:last-child .vip__items_cell:first-child { border-bottom-left-radius: 10px;}
.vip__items .vip__items_row:last-child .vip__items_cell:last-child {border-bottom-right-radius: 10px;}