

/*quest3*/
.usr_answer_block{margin-top:28px;}

.bic_up_name{background:#426087; left:0; height:28px; width:100%; text-align:center; position:absolute; top:-27px; color:#fff;}
.bic_up_name_bot{background:url(img-add/bic_up_name_bot.png) 0 0 no-repeat; height:5px; width:9px; position:absolute; bottom:-4px; left:49%;}
.bic_up_name a{color:#fff; font:14px helvetica; line-height:26px;}
.bic_up_name a:hover{color:#fff;}
.brdpic .bic_up_name a{color:#fff; font:12px helvetica; line-height:26px; display:inline;}
.brdpic5{position:relative;}
.my_answer_open #popClose { position: absolute; right: 8px; top: 5px; padding:0;}
.my_answer_show #popClose { position: absolute; right: 8px; top: 5px; padding:0;}
/*end quest3*/



p { margin: 0; padding: 0 0 10px;}
.left {float: left;}
.right {float: right;}
.blue {color: #436087;}
.yellow {color: #dcae09;}
.purl {color: #f5821f;}
.gcenter{margin:0 auto;}
.tcenter{text-align:center;}
.tright{text-align:right;}
.tleft{text-align:left;}
.clr2 { clear: both; height: 0; width: 100%;}
a {
    color: #4F6B8D;
    text-decoration: none;
}
a:hover {
    color: #4F6B8D;
    text-decoration: underline;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
form {
    margin: 0;
    padding: 0;
}
img {
    border: medium none;
}
h1 {
    color: #030303;
    font-size: 30px;
    padding: 0;
}
h1,h2 ,h3{margin:0 0 5px 0;}
body {
    color: #010101;
    font-family: arial,sans-serif;
    font-size: 12px;
    text-align: left;
}

html, body {
    margin: 0;
    padding: 0;
}

textarea{height:80px;}
input[type="text"]{height:20px;}
input[type="text"],textarea{ background-color:#fff; padding:1px 2px 2px; border-top: solid 1px #aaadb2; border-bottom: solid 1px #e2e9ef; border-left: solid 1px #e2e9ef; border-right: solid 1px #e2e9ef; -webkit-border-radius: 2px; -moz-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px; font-family:Arial;}
input[type="text"]:focus,textarea:focus{border-color:#45729a; -moz-box-shadow: 0 0 2px #45729a; -webkit-box-shadow: 0 0 2px #45729a; box-shadow: 0 0 2px #45729a;}

.black{color:#000000;}
.bold {font-weight: bold;}
.fs4 {font-size: 24px !important;}
.fs3 {font-size: 18px !important;}
.lh18 {line-height: 18px !important;}
.w400{width:400px!important;}
.w300{width:300px!important;}
.w200{width:200px!important;}
.w575{width:575px!important;}
.w630{width:630px!important;}
.prelative { position: relative;}
.width100 { width: 100% !important;}
.indentTop5 { margin-top: 5px !important;}
.indentTop15 { margin-top: 15px !important;}
.indentRight10 { margin-right: 10px !important;}
.indentRight20 { margin-right: 20px !important;}
.indentRight40 { margin-right: 40px !important;}
.indentLeft20 { margin-left: 20px !important;}
.indentLeft115 { margin-left: 115px !important;}
.indentLeft165 { margin-left: 165px !important;}
.indentLeft200 { margin-left: 200px !important;}
.indentRight8 { margin-right: 8px !important;}
.gray {color: #B2B2B2 !important;}
.innerLeft5 {padding-left: 5px !important;}
.innerLeft10 {padding-left: 10px !important;}
.tleft {text-align: left !important;}
.lookingbx {background-color:#ecf4fb; padding: 15px;}
.lookingbx .string {padding: 8px 15px;}
.lookingbx input, .newListSelected {/* font-weight: bold; */}
.lookingbx .titlebar .close {float: none !important;}
.lookingbx .currenstr {background-color:#e5ebe7 !important;}
.lookingbx label {font-weight: bold;}
.lookingbx .chkbx {margin: 0 5px 0 0; padding: 0px; }
.lookingbx .titlebar {font-size: 14px; overflow: hidden; padding-bottom: 4px;}
.findbut { background: url(img-add/find.gif) no-repeat scroll 0 0 transparent; border: medium none; cursor: pointer; height: 33px; width: 148px;}

.nobg{background:transparent!important;}

.minWidth100 { min-width: 100px !important;}
.fixWidth230{width:230px!important;}
.fixWidth235 { width: 235px !important;}
.fixWidth270 { width: 270px !important;}
.fixWidth100 { width: 100px !important;}
.flWidth100 { width: 100% !important;}

.ages {float: left; width: 58px;}
.and {float: left; margin: 4px 5px 0;}
.ages {float: left; width: 58px;}

.vqbf{position:absolute; width:100%; height:100%; background-color: rgba(82, 82, 82, 0.7); z-index:888;} /*стиль можна менять или вообще убрать*/

.clear{clear:both;}
.vq_window{-moz-border-radius: 8px 8px 8px 8px; border-radius: 8px; -webkit-border-radius: 8px; background-color: rgba(82, 82, 82, 0.7); background-image: none; left: 160px; padding: 10px; position: absolute; text-align: left; top: 35%; width: 500px; z-index: 999;}
.vq_window_tile{border:1px solid #3b5998; background-color:#6d84b4; font:700 14px Arial; color:#fff; padding:5px 10px;}
.vq_window_body{background-color:#fff; border:solid #555555; border-width:0px 1px; }
.vq_window_body p{border-bottom:1px solid #cccccc; padding:25px 10px 40px; font-family: Tahoma; font-size: 1.08em; line-height: 1.38;}
.vq_window_bot{ border:solid #555555; background-color:#f2f2f2; border-width:0px 1px 1px;  padding:5px 10px;}
a.like_but_left{ background:url(img-add/fb_ok.jpg) 5px 4px no-repeat; font-size:11px; padding:3px 3px 3px 25px; display:block; float:left; background-color:#eceef5; color:#000; }
a:hover.like_but_left{ text-decoration:none; }
a.like_but_right{ background:url(img-add/like_but_right_bg.jpg) 0 0 repeat-x; padding:3px 5px; display:block; float:right; color:#333333; font-size:12px; font-weight:bold; border:1px solid #999999; }
a:hover.like_but_right{ text-decoration:none;}
a.blue_but_right{ background-color:#6D84B4; padding:3px 5px; display:block; float:right; color:#FFF; font-size:12px; font-weight:bold; border:1px solid #3B5998; }
a:hover.blue_but_right{ text-decoration:none;}

.indentLeft10{margin-left:10px;}
.indentTop10{margin-top:10px;}
.innerTop10{padding-top:10px;}
.innerLeft55{padding-left:55px;}
.indentTop15{margin-top:15px;}
.indentTop20{margin-top:20px;}
.indentTop30{margin-top:30px;}
.indentBot10{margin-bottom:10px;}
.indentBot30{margin-bottom:30px;}
.fixWidth240 {width: 240px;}

.txc{text-align:center;}
.fs12{font-size:12px;}
.fs14{font-size:14px;}
.fs18{font-size:18px;}
.fs24{font-size:24px;}
.fs30{font-size:30px;}
.t_title{ font:bold 18px Arial;}
.m_title{ font:bold 14px Arial; padding-bottom:5px; padding-top:10px;}

.input2 {height: 20px;   padding:1px 2px 2px; font-size:14px; background-color:#fff;  border-top: solid 1px #aaadb2; border-bottom: solid 1px #e2e9ef; border-left: solid 1px #e2e9ef; border-right: solid 1px #e2e9ef;-webkit-border-radius: 2px; -moz-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px;}
.input2:focus,.input:focus ,.text:focus{border-color:#45729a; -moz-box-shadow: 0 0 2px #45729a; -webkit-box-shadow: 0 0 2px #45729a; box-shadow: 0 0 2px #45729a;}

#ny_body,#fb_main {width: 760px;}
#ny_body .content_inn,#fb_main .content_inn { margin: 0 auto; padding-bottom: 30px; padding-top: 10px; position: relative; width: 100%; z-index: 1;}

.header {background:#fff url(img-add/ya_block_bg.gif) 0 0 repeat-x;}
.header_inn { margin: 0 auto; position: relative; width:100%; z-index: 5;}
.logo {float: left; margin: 20px;}
.small_slog {margin: 30px 110px 0 0;}
.small_slog_hor {margin: 40px 110px 0 0;}
.cmenu_left .like_it {margin: 10px 0 0 8px;}
.like_it {margin: 10px 0 0 0px;}
.more_points {margin: 30px 0 0 0px;}
.like_it img{ position:relative; top:5px; margin:0 3px 0 5px;}

.pp{background:url(img-add/pp_new.png) 0 0 no-repeat; padding-left:20px;}

.content {background-color: #FFFFFF;}
.bcon_right {float: left; margin-left: 30px; width: 635px;}
.usr-bot {padding: 5px 0; width: 100%;}

.my_answer{padding-bottom:10px;}
.my_answer_open{position:relative; background:#f6f5eb url(img-add/wq_popBlock_bg.jpg) 0 0 no-repeat; height:60px; margin-left:17px; margin-right:17px;}
.my_answer_show{position:relative; background:#f6f5eb;  margin-left:17px; margin-right:17px;}
.my_answer_open p{font:normal 14px Arial; display:block; padding:10px 20px 10px 50px; color:#666556;}
.my_answer_show a{font:bold 18px Arial; display:block; padding:10px 20px; color:#666556;}
.my_answer_open a:hover,.my_answer_show a:hover{text-decoration:none;}
.my_answer_open span,.my_answer_show span{font:11px Georgia; color:#666556; display:block;}



a.ch_question{background:url(img-add/ch_question.gif) 100% 50% no-repeat; padding-right:20px;}

.ya_gs_form{padding-right:10px; width:300px;}
.ya_gs_form_in{width:180px;}


.answer_buttons .pr1{background:url(img-add/wq_yes.jpg) 0 0 repeat-x; width:61px;}
.answer_buttons .pr2{background:url(img-add/wq_no.jpg) 0 0 repeat-x; width:61px;}
.answer_buttons .pr3{background:url(img-add/wq_maybe.jpg) 0 0 repeat-x; width:93px;}

.usr_choise_who_want{position:absolute; top:-42px;}
.usr_choise_who_want img{margin:0 3px 1px 0!important;}
.usr_choise_who_want span{padding-right:10px; color:#a1a2a2;}

.savegame{background:url(img-add/start_game.gif) 0 0 no-repeat; width:148px; height:33px; border:none; cursor:pointer;}
.usr_ab_button{height:33px; border:none; cursor:pointer; color:#fff; float:left; font:bold 14px Arial; text-shadow:1px -1px 1px #283950; margin-right:10px;}
.answer_buttons{height:33px; margin-bottom:10px;}
.wq_myanswer{background:url(img-add/wq_maybe.jpg) 0 0 no-repeat; display:none; height:33px; float:left;}
.wq_myanswer .pr4{background:url(img-add/wq_maybe.jpg) 100% 0 no-repeat; cursor:pointer; text-align:left; padding:0; height:33px; width:38px; cursor:pointer; border:none; color:#fff; font:bold 16px Arial;}
.wq_myanswer_left{ background-color:#999999; margin-left:3px; display:block; height:33px;  float:left;}

#write_answer{height:19px; margin:0 3px; position: relative; top: -2px; width: 160px;}
		@media screen and (-webkit-min-device-pixel-ratio:0) {
			 #write_answer{top: 0px;}
		}
		@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0){
			   #write_answer{top: 0px;}
		}
.usr_answer_block .brdpic5{float:left;}
.usr_answer_block .brdpic5 img{margin:4px 0 0 0px;}
.usr_answer_link{padding:0 5px;}
.usr_ab_right{padding-left:250px;}
.usr_ab_right .myap { font: bold 16px Arial; padding-left: 0px;}
.usr_ab_right .my_coin  { width:auto; }
.usr_ab_right_tit{font:normal 18px Arial; color:#626363;}
.usr_ab_right_tit span{color:#000;}
.my_answer td{text-align:left;}
.my_answer_check td{padding-top:10px; font-size:12px;  text-align:left;}
.my_answer_check input{margin:0 0 0 5px;}
.my_ac_color{color:#808080;}
/* .my_answer_check input{margin:0 5px 0 0;} */

.myap{padding-left:77px; font:bold 18px Arial;}
.my_coin{width:67px; text-align:right; font-weight:bold; margin-right:10px;}
.my_coin_text{text-align:right;}
.my_coin_text span{color:#808080; font:italic 12px Georgia;}

.usr-bot-view div.ava { margin-right: 10px; position:relative;}
.usr-bot-view div.ava .cntr { top:-7px; left:50px; font:normal 12px Arial;}
.usr-bot-view div.ava a:hover.cntr { text-decoration:none;}
.usr-bot-view p.descr { line-height: 16px;}
.usr-bot-view p { color: #000; padding-bottom: 0;}
.usr-bot-view a { color: #4F6B8D !important; font:italic 12px Georgia;}

.brdpic5{ display: table-cell; text-align: center; vertical-align: middle;}
.brdpic2 { background: url(img-add/66x86bg.png) 0 0 no-repeat; height: 86px; margin-bottom: 3px; position: relative; width: 66px;}
.brdpic5 { background: url(img-add/235x306bg.png) 0 0 no-repeat; height: 306px; margin-bottom: 3px; position: relative; width: 235px;}
.cmenu_left{width:90px; float:left;}
.cmenu_left .yab_mess {text-align:center; width:84px; height:60px;}
.cmenu_left .yab_mess a {display:block; height:50px; padding:5px 0;}
.cmenu_left .yab_mess a.selected {background:url(img-add/wqm_selected.png) 0 0 no-repeat; color:#fff;}
.paginator {padding-top: 20px;}
.paginator ul {overflow: hidden;}
.paginator ul li {float: left; margin-right: 3px;}
.paginator ul li.prev a {border: 1px solid #D0D3CF;color: #D0D3CF; display: block; padding: 4px 8px;}
.paginator ul li a { border: 1px solid #4F6B8D; display: block; padding: 4px 8px;}
.paginator ul li a:hover { background-color: #4F6B8D; color: #FFFFFF; text-decoration:none;}
.paginator ul li.act a { background-color: #4F6B8D; color: #FFFFFF;}


.yab_mess{margin:0 10px 10px; position: relative;}
.yab_mess span{display:block;}
.yab_mess a:hover{text-decoration:none; color:#47acf3;}
.wqa .yab_mess a.selected span.hme{background-position:50% 100%;}

.wqa{margin-top:10px;}

.cntr span {background: url(img-add/hm_right.png) no-repeat scroll right center transparent;color: #FFFFFF;font-size: 12px;padding: 2px 6px 2px 0;}
.cntr { background: url(img-add/hm_left.png) no-repeat scroll left center transparent; color: #FFFFFF; left: 60%; padding: 2px 0 2px 7px; position: absolute; text-decoration: none; top: 10px; z-index: 10;
}

	.mess1{background: url(img-add/matches_ico.png) 50% 0 no-repeat; height:27px; margin-bottom:3px;}
	.mess2{background: url(img-add/ftf_ico.png) 50% 0 no-repeat; height:27px; margin-bottom:3px;}
	.mess3{background: url(img-add/message_ico.png) 50% 0 no-repeat; height:27px; margin-bottom:3px;}
	.mess4{background: url(img-add/soul_ico.png) 50% 0 no-repeat; height:27px; margin-bottom:3px;}
	.mess5{background: url(img-add/notif_ico.png) 50% 0 no-repeat; height:28px; margin-bottom:2px;}
	.mess6{background: url(img-add/question_ico.png) 50% 0 no-repeat; height:32px; margin-bottom:2px;}
	.mess7{background: url(img-add/_ico.png) 50% 0 no-repeat; height:27px; margin-bottom:2px;}
	.mess8{background: url(img-add/answers_ico.png) 50% 0 no-repeat; height:27px; margin-bottom:2px;}
	
	.wqa .mess1{background: url(img-add/wq_matches_ico.png) 50% 0 no-repeat; height:27px; margin-bottom:3px;}
	.wqa .mess2{background: url(img-add/wq_ftf_ico.png) 50% 0 no-repeat; height:27px; margin-bottom:3px;}
	.wqa .mess3{background: url(img-add/wq_message_ico.png) 50% 0 no-repeat; height:27px; margin-bottom:3px;}
	.wqa .mess4{background: url(img-add/soul_ico.png) 50% 0 no-repeat; height:27px; margin-bottom:3px;}
	.wqa .mess5{background: url(img-add/notif_ico.png) 50% 0 no-repeat; height:28px; margin-bottom:2px;}
	.wqa .mess6{background: url(img-add/wq_question_ico.png) 50% 0 no-repeat; height:32px; margin-bottom:2px;}
	.wqa .mess7{background: url(img-add/wq_yangutu_ico.png) 50% 0 no-repeat; height:27px; margin-bottom:2px;}
	.wqa .mess8{background: url(img-add/wq_answers_ico.png) 50% 0 no-repeat; height:32px; margin-bottom:2px;}
	
	.ya_main_reg .selectedTxt {font-size:16px;}
	.ya_main_reg .newListSelected {padding:0 3px 2px 5px;}

.ya_counter{margin-left:110px; padding-top: 25px;}
.ya_sign{padding-top: 25px;}
	.ya_main_sign{padding-left:16px; background:url(img-add/sign_ico.jpg) 0 0 no-repeat;}
	.ya_sign .left{padding:3px 10px 0 16px;}
	
.ya_count_allready{padding-right:15px; border-right:1px solid #d9dfe7;}
.ya_count_online{padding:0 0 0 15px;}
	.count_sp{color:#7f8080; font-size:14px;}
	
.ya_main_title{background:url(img-add/main_title.jpg) 50% 0 no-repeat; height:50px; padding-bottom:30px;}
.ya_fb_main_title{background:url(img-add/fb_main_title.jpg) 50% 0 no-repeat; height:50px; padding-bottom:20px;}
.ya_fb_main_title_in{background:url(img-add/fb_main_title_in.jpg) 50% 0 no-repeat; height:50px; padding-bottom:20px;}

.ya_fb_sign{padding:40px 20px 0;}

#ny_body .ya_usr_block{width:500px; padding-left:20px;}
#ny_body .ya_one_usr{width:60px; height:60px; border:solid #fff; border-width:1px 2px 1px 0;}
	.usr-hide{display:none;}
	.usr-show{display:block;}

.ya_usr_view{padding:0 10px;}
	.ya_usr_view p{color:#9d9d9f; padding-bottom:0px;}
	.ya_usr_view p.descr{line-height:18px;}
	.ver_link {margin-top:5px;}
	.ver_link a{font:normal 12px Arial!important; padding:2px 0px!important; min-height:5px!important;}
	.ya_usr_view span{color:#000;}
	.ya_usr_view a{color:#4f6b8d!important; font:bold 14px Arial;}
	.ya_usr_view div.ava{margin-right:10px;}
	
.ya_mbx3 {padding-top: 23px; background: url(img-add/yab_ugtop.png) 0px top no-repeat; width: 280px; position: absolute; z-index: 1100; top: 45px; left: -22px;}
.ya_mbx3.small {padding-top: 23px; background: url(img-add/yab_ugtop_small.png) 0px top no-repeat; width: 170px; position: absolute; z-index: 1100; top: 45px; left: -22px;}
.ya_mbx3 .ya_mbx_mid3 a {color:#000;}
.ya_mbx3 .ya_mbx_mid3 ul a { display:block; padding: 3px 10px; min-height:55px;}
	.ya_mbx_sb{padding: 3px 10px;}
.ya_mbx3 .noBorder a { display:inline!important; min-height:1px!important;}
.ya_mbx3 .ya_mbx_mid3 a:hover {color:#000;}
.ya_mbx3 .poptitebar { padding: 0 10px;}
.ya_mbx3 .poptitebar a,.ya_mbx3 .noBorder a {color:#4f6b8d;}
.ya_mbx3 .poptitebar a:hover,.ya_mbx3 .noBorder a:hover{color:#4f6b8d; text-decoration:underline;}
.small .ya_mbx_mid3 {background: url(img-add/yab_midl_box_small.png) repeat-y;}
.ya_mbx_mid3 {background: url(img-add/yab_midl_box.png) repeat-y;}
.ya_mbx_mid3 .inn {padding: 5px 14px 5px 10px;}
.ya_mbx_mid3 .inn .matches {}
.ya_mbx_mid3 .inn .matches li {float: none; border-bottom: solid 1px #dce1e8; overflow: hidden;}
.ya_mbx_mid3 .inn .matches li:hover,.ya_mbx_mid3 .inn .matches li.hover {background-color:#E8F4FF;}
.ya_mbx_mid3 .inn .matches li.noBorder:hover ,.ya_mbx_mid3 .inn .matches li.noBorder.hover {background-color:transparent;}
.ya_mbx_mid3 .inn .matches .ava {padding:0; background: url(img-add/46x46bg.png) no-repeat; float:left; width: 56px; height: 56px;}
.ya_mbx_mid3 .inn .matches .ava img {margin: 4px 0 0 4px;}
.ya_mbx_mid3 .inn .matches .descr {margin-left: 60px; margin-top: 7px; margin-right: 0px;}
.ya_mbx_mid3 .inn .matches .descr span {color:#4f6b8d; font-weight:bold; font-size:14px; display:inline;}
.ya_mbx_mid3 .inn .matches .descr a {font-weight: bold; font-size: 14px; display: block;}
.ya_mbx_bot3 {background: url(img-add/yab_bot_box.png) bottom no-repeat; height: 18px; font-size:1px; }
.small .ya_mbx_bot3{background: url(img-add/yab_bot_box_small.png) bottom no-repeat; height: 18px; font-size:1px; }

.ya_usr_regNow {margin-left:50px; width:375px;}
.ya_usr_regNow p.regTop{font-size:14px; line-height:20px;}
	.ya_main_reg{text-align:right;}
		.sqa{color:#9e9d9d; font:italic 12px Gergia; padding:0px;}
		.sqa span{color:#000;}
		.ya_reg_gender{float:right; width:250px; text-align:left;}
		.reg_male{background:url(img-add/blue_man.png) 2px 0 no-repeat; padding-left:18px;}
		.reg_female{background:url(img-add/pink_man.png) 0 0 no-repeat; padding-left:18px;}
		
		.select_city{padding-left:12px; margin-left:50px; background:url(img-add/two_sq.png) 0 5px no-repeat;}
		
	.ya_main_reg_bot{padding-left:133px;}
	.ya_main_reg label{padding-right:10px; line-height:22px; font-size:14px;}
	.ya_main_reg .pdate{text-align:left; width:auto; float:right;}
	.ya_main_reg .pdate .day,.ya_main_reg .pdate .month{margin-right:8px;}
	
.newListSelected {background: url(img-add/customselect.gif) right top #ffffff no-repeat; color:#030303; border: solid 1px #8098ae; padding:3px 3px 3px 5px}
.selectedTxt {padding-right: 20px;}
ul.newList {background-color:#FFFFFF; border:1px solid #8098ae; color:#000000; left:-1px !important; margin:0; overflow-x: hidden; overflow-y: auto; padding:0;position:absolute; top:22px !important; z-index:999; width: 100%; max-height: 150px;}
.newList li {}
.newList li a {display: block; padding: 3px;}
.newList li a:hover {background-color:#4d7195; color:#ffffff; text-decoration: none;}

.ya_usr_block_hor{padding:0 20px; text-align:center;}

.seoless_block_form{width:380px; margin:0px auto; padding:20px 0;}

#fb_main .pdate {float: right; text-align: left; width: auto;}
.ya_main_reg .pdate .day,.vq_prof_set .pdate .day, .ya_main_reg .pdate .month { margin-right: 8px;}
	.pdate .day,.vq_prof_set .day,.vq_wrapper_gray .day,.vq_content_menu_bottom .day,.content_menu_bottom .day { float: left; margin-right: 4px; width: 56px;}
	.pdate .year,.vq_prof_set .year,.vq_wrapper_gray .year { float: left; width: 60px;}
	.pdate .month,.vq_prof_set .month { float: left; margin-right: 4px; width: 114px;}
.seoless_block_form p.regTop { font-size: 14px; line-height: 20px; text-align:right;}

.techpage {
    background: url(img-add/techpagebg.gif) repeat-x scroll center top #405374;
    color: #FFFFFF;
    font-family: Arial,Helvetica;
    font-size: 14px;
    text-align: center;
}
.techpage .content { background-color: transparent;}
.indentBottom40 { margin-bottom: 40px !important; }
.indentTop40 { margin-top: 40px !important; }
.techpage h1 { color: #FFFFFF;}
.techpage a { color: #62B3F9;}
.fs3 { font-size: 18px !important;}
.tbold { font-weight: bold !important;}

.popava {
    margin-bottom: 20px;
    margin-top: 20px;
    overflow: hidden;
}
.brdpic7 { background: url(img-add/36x36bg.png) no-repeat scroll 0 0 transparent; height: 36px; position: relative; width: 36px;
}
.popava .popavatar {
    padding: 3px 0 0 1px;
}
.brdpic3, .brdpic4, .brdpic5, .brdpic6, .brdpic7, .brdpic8 {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.brdpic2{float:left; text-align:center;}
.brdpic img, .brdpic3 img, .brdpic4 img, .brdpic5 img, .brdpic6 img, .brdpic7 img, .brdpic8 img {
    margin: 0;
}
.brdpic8 {
    background: url(img-add/56x56bg.png) 0 0 no-repeat; height: 56px; position: relative; width: 56px;
}
.brdpic2 img,.brdpic8.left img{
    margin: 4px 0 0 0;
}

.popava .popavaright {
    font-size: 14px;
    overflow: hidden;
}
.mleft40 {
    margin-left: 40px;
}
.lbfbl {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}
.flWidth97 {
    width: 97%;
}
.tnormal {
    font-weight: normal !important;
}
.pdate2 .day {
    float: left;
    margin-right: 4px;
    width: 64px;
}
.pdate2 .month {
    float: left;
    margin-right: 4px;
    width: 125px;
}
.pdate2 .year {
    float: left;
    width: 70px;
}
.greencontinue {
    background: url(img-add/greencontinue.gif) no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    height: 33px;
    width: 148px;
}
.padBut{padding:0 10px!important;}

.green_but{position:relative; left:-3px; overflow: hidden;}
	.contButGreen,.contButBlue {border: none; padding:0 5px; margin:0 3px 0 3px; overflow:visible; width:auto; display:inline; font:bold 16px Arial; color:#fff; height: 33px; cursor: pointer;} 
    .gb_left,.bb_left {padding:0px; position:relative; left:0px; top:-11px; display:block; width:3px; height:33px; position:absolute;} 
    .gb_right,.bb_right {padding:0px; position:relative; right:3px; top:-11px; display:block; width:3px; height:33px; position:absolute} 
	
	.contButGreen{background: url(img-add/continue_green.png) repeat-x; text-shadow: 1px -1px 1px #7B8A08;} 
    .gb_left{background: url(img-add/continue_green_left.png) no-repeat;} 
    .gb_right{background: url(img-add/continue_green_right.png) no-repeat;} 
	
	.contButBlue {background: url(img-add/continue_blue.png) repeat-x; text-shadow: 1px -1px 1px #283950;} 
    .bb_left {background: url(img-add/continue_blue_left.png) no-repeat;} 
    .bb_right {background: url(img-add/continue_blue_right.png) no-repeat;}
	
.blue_but{position:relative; left:-3px; overflow: hidden;}
	.blue_but.big .contButBlue {background: url(img-add/continue_blueBig.png) repeat-x; padding:0 5px; margin:0 3px 0 3px; overflow:visible; width:auto; display:inline; text-shadow: 1px -2px 1px #283950; font:bold 24px Arial; color:#fff; height: 50px; cursor: pointer;} 
    .blue_but.big .bb_left {background: url(img-add/continue_blueBig_left.png) no-repeat; font-size:0; padding:0; position:absolute; left:0px; top:-23px; display:block; width:3px; height:50px;} 
    .blue_but.big .bb_right {background: url(img-add/continue_blueBig_right.png) no-repeat;  font-size:0; padding:0; position:absolute; right:3px; top:-23px; display:block;  width:3px; height:50px;} 

		@media screen and (-webkit-min-device-pixel-ratio:0) {
			 .gb_left,.gb_right,.bb_left,.bb_right{top:-9px!important;}
			 .blue_but.big .bb_left{top:-21px!important;}
			 .blue_but.big .bb_right{top:-21px!important; right:3px!important;}
			 .gb_left,.bb_left{left:0px!important;}
			 .left .gb_right,.left .bb_right{right:0px!important;}
		}
		@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0){
			  head~body .gb_left,.gb_right,.bb_left,.bb_right{top:0px!important;}
			  head~body .blue_but.big .bb_left,.blue_but.big .bb_right{top:-3px!important;}
			  head~body .gb_left,.bb_left{left:0px!important;}
			  .gb_left,.gb_right,.bb_left,.bb_right{top:0px!important;}
			  .gb_right,.bb_right{right:-3px!important;}
			  .gb_left,.bb_left{left:0px!important;}
			  .blue_but.big .bb_left{top:0px!important;}
			  .blue_but.big .bb_right{top:0px!important;}
		}		

.footer{color:#808080; background:#fff;}
.footer_inn { border-top: 1px solid #E5E5E5; margin: 0 auto; overflow: hidden; padding: 20px 20px 10px; text-align: left; width: 720px;}
.footer ul {float: left; margin-right: 20px;}

.labels label{padding-top:5px;}


.ya_gs_form_in {position:relative; padding-right:20px;}
.usr_choise_plug {width:295px; min-height:50px; margin-top:50px;}
.usr_choise_plug .lookingbx {background-color:#eceff3; min-height:50px; position:relative; margin-bottom:5px;}
.usr_choise_plug .lookingbx.special{background:#f4e9bc url(img-add/special_bg.jpg) 0 100% repeat-x;}
.ya_gs_form_in .arrow_left{background:url(img-add/arrow_left.png) 0 0 no-repeat; width:17px; height:34px; position:absolute; left:-17px; top:40%;}
.usr_choise_plug .arrow_left {background:url(img-add/usr_choise_arrow_left.jpg) 0 0 no-repeat; width:8px; height:16px; position:absolute; left:-8px; top:10%;}

.vq_content_menu_bottom{margin: 5px 17px; position:relative;}
.vq_content_menu_bottom .vq_menu_edit{position:absolute; left:10px; top:10px; border-bottom:1px dashed #426087;}
.vq_content_menu_bottom .vq_menu_edit:hover{text-decoration:none; border:none;}
.vq_content_menu_bottom .inner{padding:10px 10px 15px 100px; background-color:#f6f5eb;}
.vq_content_menu_bottom .inner.putMe{padding:10px 10px 15px 160px; background-color:#f6f5eb; height:60px;}
.vq_content_menu_bottom .inner.putMe a{display:inline-block; position:relative; height:59px; width:59px;}
.vq_content_menu_bottom .inner.putMe a .vip_usr_photo{background:url(img-add/vip_ico_small.png) 0 0 no-repeat; display:block; position:absolute; top:0; left:0; height:59px; width:59px;}
.s_lebel{color:#666556; font:bold 14px Arial; }

		
	.vq_wrapper{margin:0px 17px 0;}
	
	.w138{width:138px;}
	.wqa{margin-left:10px;}
	.ya_fb_main_title_in{margin-top:10px;}
	.usr-bot-view p.descr {margin-left: 78px; margin-right: 15px; padding-bottom: 10px;}
	
	.usr_choise{float:left; margin:5px 0 0 0px;}
	.usr_choise .brdpic5{display:block;}
	.usr_choise .brdpic5 img{margin:4px 0 0 0;}
	.usr_choise_info{width:130px; margin-top:60px; position:relative;}
	.usr_choise_info ul li{background:url(img-add/usr_choise_info_bg.jpg) -999px 0 no-repeat; margin-bottom:5px; height:73px; color:#426087; font-size:36px; text-align:center; position:relative;}
	.usr_choise_info ul li.hover,.usr_choise_info ul li.active{color:#fff!important; background-position:0 0;}
	.usr_choise_info ul li a{display:block; height:73px;}
	.usr_choise_info ul li a:hover,
	.usr_choise_info ul li.active a,
	.usr_choise_info ul li.active a span,
	.usr_choise_info ul li.hover a,
	.usr_choise_info ul li.hover a span,
	.usr_choise_info ul li.hover p,
	.usr_choise_info ul li a:hover span{text-decoration:none; color:#fff!important;}
		.addFav{background:url(img-add/fav_star.png) 0 50% no-repeat; padding:1px 0 1px 15px;}
	.usr_choise_photos{width:400px;}
	.usr_choise_photos .mynum {z-index:999; right:40px; top:-17px; background:url(img-add/ygarl.gif) 50% 100% no-repeat; padding-bottom: 5px; display:none;}
	.usr_choise_link{background:url(img-add/ar.png) 0 5px no-repeat; padding-left:20px; position:absolute; top:-38px; right:0px;}
	
	
	.stars{width:22px; height:20px; margin:8px 8px 8px 0; float:left;}
	.stars a{background:url(img-add/stars.png) 0 0 no-repeat; display:block; height:20px;}
	.stars a:hover,.stars.active a{background-position:100% 0;}
	.stars.active a:hover{background-position:0 0;}
	
	.usr_choise .prelative .stars { left: -25px; position: absolute; top: -10px;}

	
	.acc_from a{height:32px; float:left; padding:5px 0 5px 45px; font-size:14px;}
		.fromG{background:url(img-add/gtic.gif) 0 0 no-repeat;}
		.fromF{background:url(img-add/fbic.gif) 0 0 no-repeat;}
		
	.ftf_top_cord{margin:35px 30px 0 0; padding-left:35px;}
	.ftf_top_cord .usr_ico{position:absolute; left:-35px; top:-5px; height:26px; width:26px; border:1px solid #e1dfdf;}
	.ftf_top_cord li{display:inline; margin-right:10px; height:20px;  position:relative;}
   
	
	.ftf_top_cord li.htotal{margin-right:30px;}
	.usr_choise_info li .unders{right:10px; top:10px;}
	.ftf_top_cord li .unders{top:-10px;}
	.usr_choise_info li .unders,.ftf_top_cord li .unders{background:url(img-add/under_blue_left.png) 0 2px no-repeat; height:16px; font-size:12px; position: absolute; text-decoration: none; z-index: 10; padding: 2px 0 2px 6px;}
	.usr_choise_info li .unders span,.ftf_top_cord li .unders span{background:url(img-add/under_blue_bg.png) 100% 2px no-repeat; color: #FFFFFF; font-size: 12px; padding: 2px 6px 2px 0;}
	
	.vq_pay_col{width:100%;}
	.vq_pay_col .pay_menu li{position:relative; display:block; float:left; width:81px; height:54px; padding:6px 0 14px 10px; }
	.vq_pay_col .pay_menu li a:hover{text-decoration:none;}
	.vq_pay_col .pay_menu li .pay_menu_link{position:absolute; bottom:15px; left:0px; width:84px; text-align:center;}
	.vq_pay_col .pay_menu li.select{background:url(img-add/pay_bg.png) 0 0 no-repeat;}
	.vq_pay_col .pay_col_left{width:25%; float:left;}
	.vq_pay_col .pay_col_right{width:75%; float:left;}
	.vq_pay_col .paypal{margin-right:10px;}
		.paypal{background:url(img-add/paypalbut.jpg) 0 0 no-repeat; width:150px; height:52px; border:none; cursor:pointer;}
		.paypal-label{margin-left:-5px;}
		
	.usr_choise .brdpic{position:relative; margin:65px 9px 0 8px; float:left;}
	.brdpic img {margin:4px 0 0;}
	.brdpic {background:url(img-add/126x166bg.png) 0 0 no-repeat;height:166px;margin-bottom:3px;text-align:center;width:126px;}
	.brdpic .bic_up_name{top:-27px;}
	.brdpic .closepic{position:absolute; top:-35px; right:0;}
	.pagination_search {color:#4F6B8D;float:right;font:14px Arial;margin-top:25px;}
	
	.vq_wrapper_gray{background-color:#f6f6f7; margin:20px 0;}
	.vq_wrapper_gray .inner{padding:15px 17px;}
	.vq_wrapper_gray .inner table,.vq_prof_set table{border-collapse:collapse; width:100%;}
	.vq_wrapper_gray .inner table td,.vq_prof_set table td{vertical-align:top; padding:5px 0;}
	
	.vqinput{width:220px; font-size:12px; color:#b2b2b2;}
	.vqinput:focus{color:#000;}
		.pay_lock{background:url(img-add/pay_lock.gif) 0 0 no-repeat; padding-left:30px; margin-left:-30px; display:block; min-height:20px;}
		
		.vq_prof_set{float:left; margin:20px 0 0 50px;}
		.vq_prof_set table td input[type="radio"]{margin-left:0;}
		
/**/		
	.vq_mid{width:490px; float:left;}
	.vq_mid .inner{padding-left:20px;}
		.prof_loc {width: 60%;}
		.rtit {background-color: #E6E6E6; font-weight: bold; overflow: hidden; padding: 4px 3px 4px 6px;}
		.proflist {height: auto; margin-bottom: 10px; padding: 5px;}
		.proflist li { clear: both; float: none; margin-bottom: 8px; overflow: hidden; padding-top: 3px;}
		.proflist .label { color: #676767; float: left; width: 125px;}
		.proflist .description {margin-left: 130px; position: relative;}
		.subnav2 li {font-size: 14px; font-weight: bold;}
		.subnav2 li {float: left;font-size: 14px;font-weight: bold;margin-right: 12px; padding-top: 3px;}
		.subnav2 {margin-bottom: 15px;}
		.subnav2 li.orbx {padding-top: 0;}
		.orborder, #prof_or {text-align: center;}
		.orborderlistfull .inn ul {margin: 0 3px;}
		.orborderlist ul li, #profile_ull li {float: none; margin: 0;text-align: left; clear:left;}
		.orborderlistfull .inn ul li {display: block;}
		.orborderlist ul li a, #profile_ull li a { font-size: 12px !important; font-weight: normal !important;}
		.orborderlistfull .inn ul li a {display: block;  padding: 5px 5px 5px 15px; text-decoration: none;}
		.orborderlistfull .inn ul li a:hover {background-color:#ecf4fb; text-decoration: none;}
		.orborderlistfull .bot {background: url(img-add/orlistbot.png) 0 100% no-repeat; height: 5px;}
		.orborderlistfull .inn { background: url(img-add/orlistinn.png) 0 0 repeat-y; overflow: hidden; padding: 2px 0 5px;}
		.orborderlistfull { background: url(img-add/orlisttop.png) 0 0 no-repeat; left: -105px; padding-top: 15px;  position: absolute;  text-align: left;  top: 22px;  width: 156px;  z-index: 1000;}
		#prof_or {background-color: #ECF4FB; border: 1px solid #D3DAE2; border-radius: 2px 2px 2px 2px; float: left;  padding: 2px 0; position: relative; text-align: center; width: 37px;}
	
	a.dashed{border-bottom:1px dashed #426087;}
	a.dashed:hover{border-bottom:none; text-decoration:none;}
	
	.red{color:#d90e0e;}
	
	.compare_choice{margin-top:25px; padding:30px 2px 25px; position:relative;}
	.compare_choice.hover{background-color:#426087; /*background-color:#d67e0c;*/}
	.compare_choice.hover .compare_ask{display:block;}
	.compare_choice .choise_block{height: 28px; position: absolute; top: -30px; width:100%; line-height: 40px;}
	.compare_choice .choise_block a {float:left;}
	.compare_choice .choise_block a span{background:url(img-add/compare_icos.png) 0 0 no-repeat; height:27px; display:block; margin-right:5px;}
	.compare_choice .choise_block a:hover{text-decoration:none;}
	.compare_choice .choise_block a.star,.compare_choice .choise_block a.talk,
	.compare_choice .choise_block a.message,.compare_choice .choise_block a.alert{float:right;}
	.compare_choice .choise_block a.star span{width:22px; background-position:0 0;}
	.compare_choice .choise_block a.talk span{width:22px; background-position:-28px 0;}
	.compare_choice .choise_block a.message span{width:22px; background-position:-57px 0;}
	.compare_choice .choise_block a.alert span{width:22px; background-position:-85px 0;}
	.compare_choice.left .choise_block{left: 0;}
	.compare_choice.right .choise_block{right: 0;}
	.compare_choice.left{margin-left:25px;}
	.compare_choice.right{margin-right:25px;}
	
	.vip_usr_photo{background:url(img-add/vip_ico_big.png) 0 0 no-repeat; width:225px; height:296px; position:absolute; bottom:6px; right:5px;}
	.vip_usr_photo a{display:block; height:296px;}
	
	.usr_choise_left_help{background:#eceff3; margin:10px 0px; position:relative;}
	.usr_choise_left_help .pup {position: absolute; right: -5px; top: -5px;}
	.usr_choise_left_help .inner{padding:10px;}
	
	.vq_navigation_left{width:130px; float:left;}
	.vq_content_menu_bottom .putMeHere{left: 10px; position: absolute; top: 25px;}

ul.inline li{display:inline;}
ul.inline.left li{margin-right:10px;}
ul.inline.right li{margin-left:10px;}

	.usr_choise_button{position:absolute; top:-50px; left:0px;}
	.compare_fav .brdpic  .vip_usr_photo{background:url(img-add/vip_ico_middle.png) 0 0 no-repeat; width:116px; height:156px; position:absolute; bottom:6px; right:5px;}
	.compare_fav .brdpic  .vip_usr_photo a{display:block; height:296px;}
	
	.yangutu_popap { z-index: 9999; position:absolute;}
	.yangutu_popap.w250 { width:250px;} .yangutu_popap.w250 .yp_content_left{ width:250px;} .yangutu_popap.w250 .yp_content_right{ width:230px;}
	.yangutu_popap.w380 { width:380px;} .yangutu_popap.w380 .yp_content_left{ width:380px;} .yangutu_popap.w380 .yp_content_right{ width:360px;}
	.yangutu_popap.w740 { width:740px;} .yangutu_popap.w740 .yp_content_left{ width:740px;} .yangutu_popap.w740 .yp_content_right{ width:720px;}
	.yangutu_popap .usr_choise{margin-top:30px; margin-left:45px;}
	.yp_top {background: url(img-add/yp_top_bg.png) 0 0 no-repeat; height: 10px;}
	#popClose{position:absolute; top:16px; right:15px;}
	.yp_bot {background: url(img-add/yp_bot_bg.png) 0 0 no-repeat; height: 11px;}
	.yp_grad {background: url(img-add/yp_grad.jpg) 0 0 repeat-x; margin: 0 8px 0 7px; padding:20px;}
	
	.uploadPhoto {background:#e9eff6 url(img-add/uplpharr.png)  50% 100px no-repeat; border: 1px solid #dadada; height: 360px;position: relative; width: 320px;}
	.uploadPhoto a {color: #788692;display: block; font-size: 18px;font-weight: normal; margin: 160px auto 0;text-align: center; width: 149px;}
	.more_upl_info { bottom: 20px; left: 20px;position: absolute;}
	.more_upl_info span {color: #788692; display: inline-block;padding: 0 3px;}

	.rubber .yp_top { background: url(img-add/rubber_box_top_left.png) 0 0 no-repeat; height: 16px; margin-right: 18px; position: relative;}
	.rubber .yp_content_left {background: url(img-add/rubber_box_left.png) 0 0 repeat-y;}
	.rubber .yp_content_right {background: url(img-add/rubber_box_right.png) 100% 0 repeat-y; padding: 0 10px;}
	.rubber .yp_bot { background: url(img-add/rubber_box_bottom_left.png) 0 0 no-repeat; height: 16px; margin-right: 18px; position: relative;}
	.rubber .rubber_top_right { background: url(img-add/rubber_box_top_right.png) 0 0 no-repeat;}
	.rubber .rubber_bot_right { background: url(img-add/rubber_box_bottom_right.png) 0 0 no-repeat;}
	.rubber .rubber_bot_right, .rubber .rubber_top_right { height: 16px; position: absolute; right: -17px; top: 0; width: 17px;}
	.rubber .yp_grad {background-color: #FFFFFF; margin: 0; padding: 10px 20px;}

	.purch_table{width:680px; border-collapse:collapse;}
	.purch_table td{padding:15px 5px;}
	.point_box{background:url(img-add/left_corners_colors.png) 0 0 no-repeat; position:relative; left:-11px; padding:0 0 0 11px; color:#fff; font-weight:bold; text-transform:uppercase; float:left;}
	.point_box span{display:block; height:23px; line-height:23px; padding-right:5px;}
	.point_box.orange span{background-color:#f18d0b; }
	.point_box.red span{background-color:#f1160b; }
	.point_box.pink span{background-color:#f10b95; }
	.point_box.orange{background-position:0 0;}
	.point_box.red{background-position:0 -23px;}
	.point_box.pink{background-position:0 -46px;}
	
	.header_inn .like_it{margin-top:30px;}

	
.content_menu_bottom{margin:0;}
.content_menu_bottom .inner,.attention .inner{padding:10px 10px 15px 15px; background-color:#f6f5eb;}

.usr_choise_info a:hover .compare_menu_ico span,.usr_choise_info li.active .compare_menu_ico span{background-position:50% 0;}
.compare_menu_ico{padding-top:10px;}
.compare_menu_ico span.leaders{display:block; background:url(img-add/compare_leaders_ico.png) 50% 100% no-repeat; height:27px;}
.compare_menu_ico span.play{display:block; background:url(img-add/compare_play_ico.png) 50% 100% no-repeat; height:27px;}
.compare_menu_ico span.choise{display:block; background:url(img-add/compare_choise_ico.png) 50% 100% no-repeat; height:27px;}
.compare_menu_ico span.my_rate{display:block; background:url(img-add/rate_myrate_ico.png) 50% 100% no-repeat; height:27px;}
.compare_menu_ico span.plus_five{display:block; background:url(img-add/rate_plusfive_ico.png) 50% 100% no-repeat; height:27px;}
.compare_menu_ico span.invisible{display:block; background:url(img-add/dating_invisible_ico.png) 50% 100% no-repeat; height:27px;}
.compare_menu_ico span.finger{display:block; background:url(img-add/dating_finger_ico.png) 50% 100% no-repeat; height:33px;}
.compare_menu_ico span.favorite{display:block; background:url(img-add/dating_favorite_ico.png) 50% 100% no-repeat; height:33px;}
.compare_menu_ico span.lock{display:block; background:url(img-add/dating_lock_ico.png) 50% 100% no-repeat; height:33px;}
.compare_menu_ico span.view{display:block; background:url(img-add/dating_view_ico.png) 50% 100% no-repeat; height:33px;}

.usr_choise_score .brdpic2{margin-left:33px;}
.usr_choise_score .inner{padding:10px 0;}
.score_box{}
.country_rate .score_box div.tleft,.country_rate .score_box div.tright{width:auto;}
.score_box div.tleft{width:40%; float:left;}
.score_box div.tright{width:60%; float:left;}
.score_box div.allscore span{font:bold 14px Arial; color:#426087;}
.score_box div.upscore{padding-top:5px;}
.score_box div.upscore span{font:bold 10px Arial; color:#009900; padding-top:6px; background:url(img-add/upscore.png) 50% 2px no-repeat;}
.score_box div.downscore{padding-bottom:5px; margin-top:-5px;}
.score_box div.downscore span{font:bold 10px Arial; color:#cc0000; padding-bottom:6px; background:url(img-add/downscore.png) 50% 100% no-repeat;}
.score_box div span{padding:0 2px;}

.mynum{position:absolute; padding-left:3px; background:url(img-add/ygarr.gif) 0 20% no-repeat; right:-20px;}
.mynum span{padding:3px; background-color:#a8bb0b; color:#fff; font:bold 10px Arial;}

.compare_ask{display:none; position:absolute; text-align:center; width:100%; font:bold 18px Arial; color:#fff; z-index:999; bottom:5px; padding:0;}
.or{font:24px Arial; float:left; padding:170px 12px 0;}

.subnav {min-width: 253px;overflow: hidden;}
.subnav li.action { background: url("img-add/but2_l.gif") no-repeat scroll left top transparent;color: #FFFFFF; display: inline-block; margin-right: 3px; padding: 0 0 5px 7px;   text-decoration: none;}
.subnav li { display: inline-block;font-size: 14px;margin-right: 10px;padding: 7px 0 8px 7px;}
.subnav li.action .button2 {background: url("img-add/but2_r.gif") no-repeat scroll right top transparent; color: #FFFFFF;line-height: 15px; padding: 3px 7px 9px 0; text-decoration: none;}
.subnav li.action .button2 span {background: url("img-add/but2_bot.gif") no-repeat scroll 48% 22px transparent; padding: 3px 0 9px;}
.subnav li a { color: #4F6B8D; display: block;}
.sort { margin-right: 5px; overflow: hidden;}
.sort li { float: left; padding: 7px 0 8px 0px;}
.sort .sel a {background-position: 0 -24px !important;}
.sort .sort2 { background: url("img-add/sort2.gif") no-repeat scroll 0 0 transparent; display: block; height: 24px; width: 25px;}
.sort .sort1 { background: url("img-add/sort1.gif") no-repeat scroll 0 0 transparent; display: block; height: 24px; width: 25px;}

.compare_photolist_viewer .brdpic { background: url("img-add/173x227bg.png") 0 0 no-repeat; height: 227px; margin-bottom: 3px; text-align: center; width: 173px;}
.usr_choise_rate_block{background-color:#f0f9e2; margin-bottom:5px; position:relative;}
.usr_choise_rate_block .inner{padding:5px 15px 5px 15px;}
.usr_choise_rate_block .title{padding-top:5px; font:bold 12px Arial; color:#B2B2B2; padding-bottom:5px;}
.usr_choise_rate_block .inside_link{position:absolute; right:10px; top:10px;}
.usr_choise_rate_block .brdpic8 {margin-right:10px;}
.country_rate{float:left; width:80px; margin-right:10px;}

.brdpic2 .cpv_pic_info{ top:-22px;}
.brdpic2 .cpv_pic_info .vip_stat{ top:0px; left:0;}
.compare_photolist_viewer .brdpic .cpv_pic_info .vip_stat{ left:75px;}
.brdpic .cpv_pic_info{ top:-55px;}
.cpv_pic_info{position:absolute; width:100%;}
.cpv_pic_info .vip_stat ,.cpv_pic_info .country_rate{margin-top:7px;}
.vip_stat{background:url(img-add/crown.png) 0 0 no-repeat; padding:0 0 3px 23px; font-size:11px; top:1px; left:40px; position:absolute;}

.leader_list_usr{margin:25px 100px 15px 0; position:relative;}
.leader_list_usr .lsTd {position: absolute; right: -100px; top: 0px; text-align:right;width:100px;}
.lsTd .orborder2, .lsTd .orborder3 { float: right; margin-left: 10px;}
.orborder2 {background-color: #CCDEEE; border-radius: 2px 2px 2px 2px; float: left; padding: 3px 0; position: relative; text-align: center;  width: 37px;}

.compare_helptowin li,.usr_choise_score.active{ -webkit-border-radius: 3px; -moz-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; font-size:14px;margin-bottom:3px;}
.compare_helptowin .active,.usr_choise_score.active{background:#e3e3e3 url(img-add/compare_helptowin_active.jpg) 0 0 repeat-x;}
.compare_helptowin .active.hover{background-color:#e3e3e3; color:#000;}
.compare_helptowin .hover{background-color: #4f6b8d; color:#fff;}
.compare_helptowin .pad{padding:10px;}
.compare_helptowin .description{float:left; width:200px; overflow:hidden;}

.usr_choise_photo_block{ height:195px; overflow-y:auto; overflow-x:hidden;  position:relative;}
.usr_choise_photo_block .usr_choise_photo{ margin:6px 3px 0 0;}
.usr_choise_photo_block .upl{ padding:3px 6px 0 0;}
.usr_choise_photo_block .upl{ padding:3px 6px 0 0;}
.usr_choise_photo{float:left; position:relative;}
.usr_choise_photo .usr_choise_check{top:10px; right:10px; position:absolute; z-index:999;}
.usr_choise_photo .usr_choise_photo_rate{background:url(img-add/choise_photo_rate_bg.jpg) 0 0 repeat-x;  z-index:999; bottom:3px; right:5px; position:absolute; font-weight: bold; padding:5px;}
.usr_choise_birdpic .op{ background:url(img-add/white_op.png) 0 0 repeat; display:none; position:absolute; z-index:888; height:91px; width:91px;}
.usr_choise_birdpic.checked .op{ display:block;}
.usr_choise_birdpic{background:url(img-add/91x91bg.png) 0 0 no-repeat; width:91px; height:91px; text-align:center;}
.usr_choise_birdpic img{margin-top:6px;}

.rate_photolist_viewer .leader_list_usr{margin: 5px 100px 0 0;}
.rate_photolist_viewer .leftimg_rate{float: left; margin-right: 5px; width: 150px; position:relative; min-height:1px;}
.rate_photolist_viewer .leftimg_rate {background:url(img-add/leftimg_brdpic_arrow.png) 66px 50% no-repeat;}
.rate_photolist_viewer .leftimg_rate .rate_actstar {position:absolute; top:20px; right:15px;}
.rate_photolist_viewer .leftimg_rate .brdpic2{background-color:#f6f5eb;}
.rate_photolist_viewer .rate_usrlist_info {float:left; width:240px;}
.rate_photolist_viewer .rate_usrlist_info .descript{float:left; width:160px;}
.rate_photolist_viewer  .leader_list_usr .lsTd{width:170px;}
.rate_photolist_viewer  .leader_list_usr .lsTd p a{margin-left:10px;}
.rate_photolist_viewer  .rate_reply{padding:2px 0  2px 20px; background:url(img-add/rate_gray_small_star.png) 0 0 no-repeat;}


.ratingstars_box a{float:left; padding:0 5px;}
.ratingstars_box a:hover{text-decoration:none;}
.rate_star{background:url(img-add/rate_star.png) 0 -37px no-repeat; padding:12px 0 10px; text-align:center; color:#fff; font:bold 12px Arial; display:block; width:37px;}
a.hover .rate_star{background-position:0 0;}
a.hover .last.rate_star{background-position:0 -76px;}
.rate_actstar{background:url(img-add/rate_star_active.png) 0 0 no-repeat; padding:12px 0 10px; text-align:center; color:#fff; font:bold 12px Arial; display:block; width:37px;}

.usr_choise_center .brdpic5 ,.usr_choise_center .uploadPhoto {display: block; margin: 15px auto;}
.usr_choise_center .lsTd {width:230px; margin: 0px auto;}
.usr_choise_center .lsTd a {margin-left:10px;}
.usr_choise_center .lsTd .orborder2 {top:-5px;}
.usr_choise_center .lsTd .orborder2 a  {margin-left:0px;}

.upload_preview{ width:440px; margin:0 auto;}
.upload_preview  .brdpic,.upload_preview  .upload_area img,.upload_preview  .compare_choice{ margin:0; padding:0;}
.upload_preview  .upload_area{ padding:4px;}

.teaser{ background:url(img-add/teasers_or_bg.jpg) 0 0 repeat-x; color:#fff; position:relative;}
.teaser.orange a{ color:#f2ef04; text-decoration:none;}
.teaser.orange a:hover{text-decoration:underline;}
.teaser .inner{padding:10px 20px 0px 100px; min-height:80px;}
.teaser .inner p{padding-bottom:5px;}
.teaser .attent{background:url(img-add/teaser_attent_ico.png) 20px 20px no-repeat;}
.teaser .morephotos{background:url(img-add/teaser_morephotos_ico.png) 20px 10px no-repeat;}
.teaser .twitter{background:url(img-add/teaser_twitter_ico.png) 10px 20px no-repeat;}
.teaser .leaders{background:url(img-add/teaser_leaders_ico.png) 20px 20px no-repeat;}
.teaser .star{background:url(img-add/teaser_star_ico.png) 20px 20px no-repeat;}
.teaser .rating{background:url(img-add/teaser_rating_ico.png) 20px 20px no-repeat;}

.content_menu_bottom input[type="radio"]{margin:4px 4px 0 0;}
.content_menu_bottom input[type="text"]{width:100%;}

.progressbar{width:100%; padding-top:2px; background:url(img-add/progressbar-bg.jpg) 0 0 repeat-x; margin:10px 0; position:relative;}
.progress-line{background:url(img-add/progress-line-bg.jpg) 0 0 repeat-x; height:4px; position:relative;}
.progress-control{background:url(img-add/progress-control-point-bg.jpg) 100% 0 no-repeat; position:absolute; height:7px; width:100%; top:-7px; left:0px;}
.progress-control-point{width:25%; float:left; height:5px; background:url(img-add/progress-control-point-bg.jpg) 0 0 no-repeat;}
.progress-line-button{background:url(img-add/progress-line-button.png) 0 0 no-repeat; height:18px; width:13px; position:absolute; right:-7px; top:-5px; cursor:pointer;}
.progress-line-button p{position:absolute; top:auto; bottom:100%; margin-bottom:3px; padding:0px; left:50%; z-index:9999;}
.progress-line-button p span{background-color:#eceff3; font-size:11px; color:#426087; border:1px solid #c0c8cd; padding:2px 5px;  visibility: visible; position:relative; right:auto; display:block; top:-3px; left:-50%; z-index:9999;}
.progress-line-button p img{position:absolute; bottom:-5px; left:50%; margin-left:-4px; z-index:9999;}

.compare_fav .brdpic .add_fav,.compare_fav .brdpic .close{position:absolute; bottom:5px;}
.compare_fav .brdpic .add_fav{left:8px;}
.compare_fav .brdpic .close{right:8px;}

.num_select{padding-left:40px; position:relative;}
.num_select .num{background:url(img-add/num_blue_bg.png) 0 0 no-repeat; width:25px; font:bold 16px/24px Arial; color:#fff; height:25px; position:absolute; left:0px; top:0px; text-align:center;}
.attention{border:1px solid #eaeaea;}

.payments-list{border-top:1px solid #e7e7e7;}
.payments-list ul.starup{}
.payments-list ul.starup li{background:url(img-add/peyment-starup.png) 15px 10px no-repeat;}
.payments-list ul.compareadd li{background:url(img-add/peyment-compareadd.png) 15px 10px no-repeat;}
.payments-list ul.starup li.v2,.payments-list ul.compareadd li.v2{background-position:15px -70px;}
.payments-list ul.starup li.v3,.payments-list ul.compareadd li.v3{background-position:15px -150px;}
.payments-list ul li.hover{background-color:#f6f6f6;}
.payments-list ul li{border-bottom:1px solid #e7e7e7; border-top:1px solid #fff; padding:10px 20px 10px 90px; min-height:60px;}
.payments-list ul li p{padding-bottom:5px;}

.popClose{position:absolute; right:15px; top:15px; z-index: 9999;}
.horlist li { float: left; margin-left: 10px; margin-top: 3px;}
.vanilla-bg { padding: 20px;}
p.vanilla, .vanilla-bg { background-color: #F6F5EB; color: #7F7E72; margin-bottom: 10px;  padding: 10px;}

.ava {background: url(img-add/46x46bg.png) 0 0 no-repeat; float: left; height: 56px; margin-right: 10px; width: 56px;}
.ava img { margin: 4px 0 0 4px;}